Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

v2: Improve description of parameter 'target_update_freq'
  tianshou/highlevel/params/policy_params.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/modelfree/bdqn.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/qrdqn.py
Due: ruff, black, mypy

v2: Improve description of parameter 'add_done_loop'
  tianshou/policy/modelbased/psrl.py
Due: ruff, black, mypy

v2: Remove docstrings for removed parameters
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

v2: Fix/remove references to BasePolicy
  tianshou/data/collector.py
  tianshou/policy/base.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/redq.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

v2: Rename DDPGPolicy -> ContinuousDeterministicPolicy
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_td3.py
  examples/offline/d4rl_td3_bc.py
  test/continuous/test_ddpg.py
  test/continuous/test_td3.py
  test/offline/test_td3_bc.py
  tianshou/highlevel/algorithm.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/td3.py
Due: ruff, black, mypy

v2: Rename DQNPolicy -> DiscreteQLearningPolicy
  examples/atari/atari_dqn.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/lunarlander_dqn.py
  examples/discrete/discrete_dqn.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/modelbased/test_dqn_icm.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/trainer.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/modelfree/bdqn.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/qrdqn.py
Due: ruff, black, mypy

v2: Fix references to SamplingConfig/sampling_config
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

v2: Update references to reward_normalization parameter in high-level examples
  examples/atari/atari_ppo_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

v2: Improve description of 'action_boun_method' in SACPolicy (largely no effect)
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Improve change log entry pertaining to the breaking change in the trainer
  CHANGELOG.md
Due: none

Add determinism tests for virtually all algorithms
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/determinism_test.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
Due: ruff, black

Fix determinism test name
  test/discrete/test_iqn.py
Due: ruff, black

Fix test name
  test/discrete/test_sac.py
Due: ruff, black

v2: Fix parameter initialization in AutoAlpha
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Fix test name
  test/discrete/test_discrete_sac.py
Due: ruff, black

v2: Rename test file
  test/discrete/test_ppo_discrete.py
Due: ruff, black

minari support tentative
  examples/offline/utils.py
Due: ruff, black

v2: Update docstring
  tianshou/policy/base.py
Due: ruff, black, mypy

Add more trace log messages for context
  tianshou/trainer/base.py
Due: ruff, black, mypy

Configure training eps value for initial data collection (DQN, BDQ)
  test/discrete/test_bdq.py
  test/discrete/test_dqn.py
Due: ruff, black

Fix test names
  test/discrete/test_bdq.py
  test/discrete/test_iqn.py
Due: ruff, black

Configure training eps value for initial data collection (C51, FQF, IQN, QRDQN, Rainbow)
  test/discrete/test_c51.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
Due: ruff, black

v2: Fix docstring
  tianshou/utils/lagged_network.py
Due: ruff, black, mypy

v1: exclude numpy 1.24.4 (poetry can't install it)
  poetry.lock
  pyproject.toml
Due: poetry-check

v1: Update pandas and torch in lock (fresh install in 3.12 failed)
  poetry.lock
Due: none

TraceLogger: Add flag 'verbose'
  tianshou/utils/determinism.py
Due: ruff, black, mypy

v2: Rainbow: Do not wrap model_old in EvalModeModuleWrapper to allow NoisyLinear to take effect
  tianshou/policy/modelfree/rainbow.py
Due: ruff, black, mypy

v2: Fix LaggedNetworkCollection.full_parameter_update forcing target network to eval mode
  tianshou/utils/lagged_network.py
Due: ruff, black, mypy

v2: NoisyLinear: Treat the noise parameters as parameters instead of buffers such that they will be copied with a lagged network parameter update (target network handling)
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

v1: Removed unused and failing test
  test/base/test_batch.py
Due: ruff, black

v1: minor type validation
  test/determinism_test.py
Due: ruff, black

Fix test name
  test/offline/test_td3_bc.py
Due: ruff, black

Use trainer run instead of direct iteration
  test/offline/test_cql.py
  test/offline/test_td3_bc.py
Due: ruff, black

Improve trace log message
  tianshou/policy/base.py
Due: ruff, black, mypy

v2: typing, use EvalModeModuleWrapper in annotations
  tianshou/policy/base.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/rainbow.py
  tianshou/utils/lagged_network.py
Due: ruff, black, mypy

v2: minor, typing
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/rainbow.py
Due: ruff, black, mypy

v2: A2C: Fix gradient step counter not being incremented
  tianshou/policy/modelfree/a2c.py
Due: ruff, black, mypy

v2: Fix docstring
  tianshou/policy/base.py
Due: ruff, black, mypy

v2: Improve change log
  CHANGELOG.md
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
