Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

extend pre-commit check to notebooks
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

poetry-lock
  poetry.lock
Due: none

Add draft of optional argument to collect same number of episodes in each env in collector
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Docs/use nbqa on notebooks (#1041)
  .pre-commit-config.yaml
  docs/02_notebooks/0_intro.md
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L4_Policy.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
  docs/_config.yml
  docs/spelling_wordlist.txt
  poetry.lock
  pyproject.toml
  tianshou/data/collector.py
  tianshou/data/stats.py
  tianshou/data/types.py
  tianshou/env/venvs.py
  tianshou/env/worker/ray.py
  tianshou/env/worker/subproc.py
  tianshou/highlevel/env.py
  tianshou/policy/base.py
  tianshou/utils/net/common.py
  tianshou/utils/net/discrete.py
  tianshou/utils/print.py
Due: ruff, black, poetry-check, mypy

run poe, fix all but one issue
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

update jupytre-book version to latest release 1.0
  poetry.lock
  pyproject.toml
Due: poetry-check

Collector: factored out bits of collect method, removed set fields outside of init
  test/base/test_collector.py
  tianshou/data/collector.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Fixed symlinks
  docs/_static/js/atari
  docs/_static/js/mujoco
Due: none

Fix error in reset to next, modularise collect further
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Docs, rendering: Added loading of vega files from cdn and _build
  docs/_config.yml
  docs/_static/js/v5.json
  docs/_static/js/vega-embed@5.js
  docs/_static/js/vega-lite@5.js
  docs/_static/js/vega@5.js
Due: none

Docs, rendering: fixed paths for benchmark resources
  docs/01_tutorials/06_benchmark_mujoco.rst
  docs/_static/js/benchmark.js
Due: none

Minor improvements in docs wording/style
  docs/02_notebooks/L1_Batch.ipynb
  docs/spelling_wordlist.txt
  examples/mujoco/README.md
Due: none

Poetry lock, typo [skip ci]
  docs/02_notebooks/L1_Batch.ipynb
  poetry.lock
Due: none

Docs: Added result.json files for benchmark
  docs/_static/js/atari/benchmark/BreakoutNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/EnduroNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/MsPacmanNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/PongNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/QbertNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/SeaquestNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/SpaceInvadersNoFrameskip-v4/result.json
  docs/_static/js/mujoco/benchmark/Ant-v3/result.json
  docs/_static/js/mujoco/benchmark/HalfCheetah-v3/result.json
  docs/_static/js/mujoco/benchmark/Hopper-v3/result.json
  docs/_static/js/mujoco/benchmark/Humanoid-v3/result.json
  docs/_static/js/mujoco/benchmark/InvertedDoublePendulum-v2/result.json
  docs/_static/js/mujoco/benchmark/InvertedPendulum-v2/result.json
  docs/_static/js/mujoco/benchmark/Reacher-v2/result.json
  docs/_static/js/mujoco/benchmark/Swimmer-v3/result.json
  docs/_static/js/mujoco/benchmark/Walker2d-v3/result.json
Due: none

Poetry lock [skip ci]
  poetry.lock
Due: none

Removed JQuery usage
  docs/01_tutorials/06_benchmark.rst
  docs/_static/js/benchmark.js
Due: none

Updated sphinx and docutils
  poetry.lock
  pyproject.toml
Due: poetry-check

Pyproject structure [skip ci]
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix mypy
  tianshou/data/collector.py
Due: ruff, black, mypy

Add docstring to functions
  tianshou/data/collector.py
Due: ruff, black, mypy

Load jQuery dynamically
  docs/_static/js/benchmark.js
  docs/_static/js/copybutton.js
Due: none

Symlink instead of copy-paste json results
  docs/_static/js/atari/benchmark/BreakoutNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/EnduroNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/MsPacmanNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/PongNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/QbertNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/SeaquestNoFrameskip-v4/result.json
  docs/_static/js/atari/benchmark/SpaceInvadersNoFrameskip-v4/result.json
  docs/_static/js/mujoco/benchmark/Ant-v3/result.json
  docs/_static/js/mujoco/benchmark/HalfCheetah-v3/result.json
  docs/_static/js/mujoco/benchmark/Hopper-v3/result.json
  docs/_static/js/mujoco/benchmark/Humanoid-v3/result.json
  docs/_static/js/mujoco/benchmark/InvertedDoublePendulum-v2/result.json
  docs/_static/js/mujoco/benchmark/InvertedPendulum-v2/result.json
  docs/_static/js/mujoco/benchmark/Reacher-v2/result.json
  docs/_static/js/mujoco/benchmark/Swimmer-v3/result.json
  docs/_static/js/mujoco/benchmark/Walker2d-v3/result.json
  examples/mujoco/benchmark/README.md
Due: none

Docs/html doc issues (#1048)
  docs/01_tutorials/06_benchmark.rst
  docs/02_notebooks/L1_Batch.ipynb
  docs/_config.yml
  docs/_static/js/atari
  docs/_static/js/benchmark.js
  docs/_static/js/copybutton.js
  docs/_static/js/mujoco
  docs/_static/js/v5.json
  docs/_static/js/vega-embed@5.js
  docs/_static/js/vega-lite@5.js
  docs/_static/js/vega@5.js
  docs/spelling_wordlist.txt
  examples/mujoco/README.md
  examples/mujoco/benchmark/README.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Docs: Added jquery, better handling of js files through sphinx config instead of footer
  docs/_config.yml
  docs/_static/js/jquery-1.12.4.min.js
Due: none

Docs: Added jquery, better handling of js files through sphinx config… (#1049)
  docs/_config.yml
  docs/_static/js/jquery-1.12.4.min.js
Due: none

Docs: Added symlinks for benchmarks
  docs/_static/js/atari/benchmark
  docs/_static/js/mujoco/benchmark
Due: none

Docs: removed dynamic loading of jquery, removed redundant config options
  docs/_config.yml
  docs/_static/js/benchmark.js
  docs/_static/js/copybutton.js
Due: none

Typo
  docs/_config.yml
Due: none

Docs: added symlinks for paths resolution, removed jquery loading (#1050)
  docs/_static/js/atari/benchmark
  docs/_static/js/benchmark.js
  docs/_static/js/copybutton.js
  docs/_static/js/mujoco/benchmark
Due: none

Add vega scripts explictly to config
  docs/_config.yml
Due: none

Add vega scripts explictly to config (#1051)
  docs/_config.yml
Due: none

Docs/hotfix (#1052)
  docs/_config.yml
Due: none

Continue refactor of collect of collector. Careful, this commit is not recording worker wise returns!
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Docs, js - typo in path
  docs/_static/js/benchmark.js
Due: none

Allow to configure number of test episodes in high-level API
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Make OptimizerFactory more flexible by adding a second method which allows the creation of an optimizer given arbitrary parameters (rather than a module)
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Fix AutoAlphaFactoryDefault using hard-coded Adam optimizer instead of passed factory
  tianshou/highlevel/params/alpha.py
Due: ruff, black, mypy
