Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Use ValueError to inform user about what type of env is supported.
  examples/mujoco/fetch_her_ddpg.py
Due: ruff, black

Refactor type annotation make_vizdoom_env
  examples/vizdoom/env.py
Due: ruff, black

Use kw-args for better readability
  examples/atari/atari_network.py
Due: ruff, black

Use os.path.join
  examples/vizdoom/replay.py
Due: ruff, black

Remove if and assert hasattr beforehand
  test/base/test_buffer.py
Due: ruff, black

Return non-empty dict when reset
  examples/vizdoom/env.py
Due: ruff, black

Refactor ActorFactoryAtariDQN hidden_size semantics and output_dim of APIs using it.
  examples/atari/atari_network.py
  examples/atari/atari_ppo.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac.py
  examples/atari/atari_sac_hl.py
Due: ruff, black

Refactor type annotations of scale_obs:
  examples/atari/atari_network.py
Due: ruff, black

Simplify checks of obs_shape for atari envs
  examples/atari/atari_network.py
  examples/offline/atari_cql.py
Due: ruff, black

Use kw for input arguments to QRDQN
  examples/offline/atari_cql.py
Due: ruff, black

WIP: base classes for collector
  tianshou/data/collector.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Changelog [skip ci]
  CHANGELOG.md
Due: none

Don't raise error on len of empty Batch (#1084)
  CHANGELOG.md
  tianshou/data/batch.py
Due: ruff, black, mypy

SamplingConfig: support for batch_size=None
  examples/mujoco/mujoco_reinforce_hl.py
  tianshou/highlevel/config.py
  tianshou/utils/net/common.py
Due: ruff, black, mypy

Added launcher interface and registry
  examples/mujoco/joblib_launcher.py
  examples/mujoco/launcher.py
Due: ruff, black

Added contextmanager for ExperimentBuilder modifications
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Experiment: use name attribute during run except if overriden explicitly
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/launcher.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Adjusted launchers to new interface
  examples/mujoco/launcher.py
Due: ruff, black

Extract BaseCollectorClass
  tianshou/data/collector.py
Due: ruff, black, mypy

Allow two (same/different) Batch objs to be tested for equality
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

explicitly call reset on collector before collecting outside of trainer (examples, tests, hl experiment)
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/lunarlander_dqn.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/data/collector.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

remove comment from doc string in collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Missing link in README.md [skip ci]
  README.md
Due: none

Update README.md (removed instability warning) [skip ci]
  README.md
Due: none

Introduce Base and Stump class via branch merge
  tianshou/data/collector.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Refactor Batch equality tests for better readability
  test/base/test_batch.py
Due: ruff, black

Add more simple tests to TestBatchEquality test suite
  test/base/test_batch.py
Due: ruff, black

Allow user to use any object for Batch equality
  tianshou/data/batch.py
Due: ruff, black, mypy

create evaluation package
  tianshou/evaluation/__init__.py
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

updated examples
  examples/atari/atari_ppo_hl.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

some documentation and mypy stuff
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
  tianshou/utils/logger/pandas_logger.py
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

handle experiment name if name str is empty
  examples/mujoco/mujoco_ppo_hl_multi.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

more epochs
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

updated dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

use explicit multiprocessing context for creating Pipe in subproc.py
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

made loading from disk safer
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
