Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Bumped version
  pyproject.toml
Due: poetry-check

Fixed docu and tests.
  test/continuous/test_sac_with_il.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Adjusted readme
  README.md
Due: none

Adjusted contributors.rst
  docs/04_contributing/05_contributor.rst
  docs/04_contributing/05_contributors.rst
Due: none

Readme: removed announcement about gym-support [skip ci]
  README.md
Due: none

Spelling [skip ci]
  docs/spelling_wordlist.txt
Due: none

Fixing PEP8 error.
  test/continuous/test_sac_with_il.py
Due: ruff, black

Fixing PEP8 error. Removed unused import pytest.
  test/continuous/test_sac_with_il.py
Due: ruff, black

Using dist.mode instead of logits.argmax (#1066)
  test/continuous/test_sac_with_il.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Improve README, minor changes in procedural example
  README.md
  examples/discrete/discrete_dqn.py
Due: ruff, black

Add typing to func args
  examples/vizdoom/env.py
  examples/vizdoom/replay.py
Due: ruff, black

Add type annotations to funcs
  examples/mujoco/gen_json.py
  examples/mujoco/tools.py
Due: ruff, black

Add publish workflow, first preparation for next release (#1067)
  .github/workflows/publish.yaml
  README.md
  docs/04_contributing/05_contributor.rst
  docs/04_contributing/05_contributors.rst
  docs/spelling_wordlist.txt
  pyproject.toml
Due: poetry-check

Fix mypy issues
  examples/mujoco/plotter.py
Due: ruff, black

add additional kwargs for venv workers
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl.py
  tianshou/env/venvs.py
  tianshou/env/worker/subproc.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Use DataclassPPrintMixin to print collector stats
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/offline/atari_il.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  test/discrete/test_bdq.py
  test/modelbased/test_psrl.py
Due: ruff, black

Add type annotations to func
  examples/mujoco/analysis.py
Due: ruff, black

Add type annotations to funcs
  examples/offline/convert_rl_unplugged_atari.py
Due: ruff, black

Fix policy annotation
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Add type annotations func
  examples/mujoco/mujoco_redq.py
Due: ruff, black

High-level API: Fix number of test episodes being incorrectly scaled by number of envs
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Fix spellcheck issues
  docs/04_contributing/05_contributors.rst
  docs/spelling_wordlist.txt
Due: none

Type policy var to resolve mypy confusion
  examples/atari/atari_dqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_sac.py
  examples/box2d/bipedal_bdq.py
  examples/mujoco/mujoco_ddpg.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Update docstring
  tianshou/highlevel/config.py
Due: ruff, black, mypy

added explicit env seeding for train and test envs
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_sac_hl.py
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/env_factory.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Fix mypy issues
  examples/mujoco/fetch_her_ddpg.py
Due: ruff, black

Check env.spec for none before accessing attrs
  examples/atari/atari_wrapper.py
  examples/vizdoom/env.py
Due: ruff, black

Add type annotation using space info
  examples/discrete/discrete_dqn.py
Due: ruff, black

Add type annotations to NoopResetEnv's methods and helper funcs
  examples/atari/atari_wrapper.py
Due: ruff, black

Use only integers with Generator
  examples/atari/atari_wrapper.py
Due: ruff, black

Removing cur_rollout_batch. WIP
  test/base/test_collector.py
  tianshou/data/collector.py
  tianshou/policy/base.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Renamings of vars in collect
  tianshou/data/collector.py
Due: ruff, black, mypy

minor rename
  tianshou/data/collector.py
Due: ruff, black, mypy

Adjusted return type in BasePolicy.forward
  tianshou/policy/base.py
Due: ruff, black, mypy

More var renamings in collector
  tianshou/data/collector.py
Due: ruff, black, mypy

Use DataclassPPrintMixin to print collect stats
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
Due: ruff, black

Respect mypy typing for vars/args
  examples/atari/atari_network.py
  examples/atari/atari_ppo_hl.py
Due: ruff, black

Fix many mypy issues
  examples/atari/atari_wrapper.py
Due: ruff, black

High-level API: Fix number of test episodes being incorrectly scaled by number of envs (#1071)
  docs/04_contributing/05_contributors.rst
  docs/spelling_wordlist.txt
  tianshou/highlevel/agent.py
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Rename var to resolve ambiguity for mypy
  test/modelbased/test_psrl.py
Due: ruff, black
