Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Move atari/mujoco helpers into package code
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo.py
  examples/mujoco/mujoco_trpo_hl.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  tianshou/env/atari/__init__.py
  tianshou/env/mujoco/__init__.py
  tianshou/env/mujoco/mujoco_env.py
Due: ruff, black, mypy

Add EnvPoolVectorEnv wrapper for proper envpool integration
  test/base/test_collector.py
  test/base/test_env.py
  tianshou/data/collector.py
  tianshou/env/__init__.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Use monotonic clock for collector timing
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Fix link, improve wording [skip ci]
  README.md
Due: none

[data collector] Use monotonic clocks for collector timing (#1295)
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

fix: add Box type assertions to mujoco examples for mypy
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
Due: ruff, black

fix: forward env_id to envpool in step() and fix mypy errors
  test/base/test_collector.py
  test/base/test_env.py
  tianshou/data/collector.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

fix: warn on implicit zero-fill and preserve empty dicts in Batch
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

style: apply ruff format and add CHANGELOG entry
  CHANGELOG.md
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

fix: resolve mypy errors and add CHANGELOG entry
  CHANGELOG.md
  test/base/test_env.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
Due: ruff, black, mypy

docs: add CHANGELOG entry for atari/mujoco helpers move
  CHANGELOG.md
Due: none

docs: add CHANGELOG entry for state_shape to obs_shape rename
  CHANGELOG.md
Due: none

fix: resolve mypy type-check errors in venv_wrappers
  tianshou/env/venv_wrappers.py
Due: ruff, black, mypy

fix: resolve mypy unreachable/unused-ignore errors in batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

fix(batch): rename variable to avoid mypy unreachable-code false positive
  tianshou/data/batch.py
Due: ruff, black, mypy

fix(batch): handle differing nested keys in partial-key stacking
  tianshou/data/batch.py
Due: ruff, black, mypy

fix(env): lazy-import atari wrappers to avoid mandatory cv2 dependency
  tianshou/env/atari/__init__.py
Due: ruff, black, mypy

fix(env): detect envpool via config/send/recv instead of __len__
  tianshou/data/collector.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
