Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

high level logging with extended grouping
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
Due: ruff, black, mypy

get logger class instead of creating a logger in eval
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Lower level access to hl world (#1187)
  docs/_config.yml
  docs/spelling_wordlist.txt
  pyproject.toml
  tianshou/data/batch.py
  tianshou/data/types.py
  tianshou/evaluation/launcher.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/optim.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/persistence.py
  tianshou/highlevel/trainer.py
  tianshou/utils/logger/base.py
Due: ruff, black, poetry-check, mypy

multi example with wandb logging
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

fix in multi example with wandb logging
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

Copy-paste error in BaseLogger [ci skip]
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

Enhanced rliable eval (#1183)
  docs/spelling_wordlist.txt
  examples/mujoco/mujoco_ppo_hl_multi.py
  tianshou/data/stats.py
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/highlevel/logger.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Changelog [ci skip]
  CHANGELOG.md
Due: none

Readthedocs: install eval deps for build
  .readthedocs.yaml
Due: none

Readme: fix links to badges, remove badge of Chinese docs [ci skip]
  README.md
Due: none

Readthedocs typo [ci skip]
  .readthedocs.yaml
Due: none

Fix: [high-level API] Policy parameter action_scaling was not correctly transformed into a Boolean value
  CHANGELOG.md
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

Fix: Policy parameter action_scaling was not correctly transformed (high-level API) (#1191)
  CHANGELOG.md
  tianshou/highlevel/params/policy_params.py
Due: ruff, black, mypy

New util: create_uniform_action_dist
  test/base/test_utils.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

HL, config: option to collect n_episodes, post-init validation, docstrings
  tianshou/highlevel/config.py
Due: ruff, black, mypy

fix input to categorical in discrete ppo examples
  examples/atari/atari_ppo.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

type check
  examples/atari/atari_ppo.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Fix input to categorical distribution for discrete ppo examples (#1193)
  examples/atari/atari_ppo.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

n-step-return: better variable names, more docstrings and comments
  tianshou/policy/base.py
Due: ruff, black, mypy

Improve docstring of CriticFactoryReuseActor
  tianshou/highlevel/module/critic.py
Due: ruff, black, mypy

Fixup returns
  tianshou/policy/base.py
Due: ruff, black, mypy

Test: minor comment
  test/base/env.py
Due: ruff, black

Major commit to `ReplayBuffer` and related classes
  test/base/test_buffer.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/her.py
  tianshou/data/buffer/manager.py
  tianshou/data/buffer/prio.py
Due: ruff, black, mypy

Minor formatting, typing
  test/base/test_utils.py
  tianshou/highlevel/params/lr_scheduler.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

PPO, Changed implementation detail! Important!
  tianshou/policy/modelfree/ppo.py
Due: ruff, black, mypy

SAC: minor refactoring (extracted correct_log_prob_gaussian_tanh)
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Trainer: multiple small enhancements
  tianshou/trainer/base.py
Due: ruff, black, mypy

Collector: major extension and some refactoring
  test/base/test_collector.py
  test/base/test_policy.py
  tianshou/data/collector.py
  tianshou/utils/array.py
Due: ruff, black, mypy

Minor, typing
  test/base/test_buffer.py
  test/base/test_utils.py
  tianshou/data/buffer/prio.py
Due: ruff, black, mypy

Imports, docs
  docs/spelling_wordlist.txt
  tianshou/policy/modelfree/sac.py
  tianshou/trainer/base.py
  tianshou/utils/array.py
Due: ruff, black, mypy

Trainer: don't rely on progress bar for terminating loops
  tianshou/trainer/base.py
Due: ruff, black, mypy

Poe: fix formatting command order (previously was not idempotent) [ci skip]
  pyproject.toml
Due: poetry-check

Add dependency sensai-utils
  poetry.lock
  pyproject.toml
Due: poetry-check

Collector: improved rollout hooks interfaces and docstrings
  tianshou/data/collector.py
Due: ruff, black, mypy

Removed no longer needed array module
  tianshou/utils/array.py
Due: ruff, black, mypy

Aesthetic: docstrings, var names
  tianshou/highlevel/config.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Remove unnecessary 'type: ignore'
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Batch, breaking: turn to_torch and to_numpy into instance methods
  tianshou/data/batch.py
Due: ruff, black, mypy

EnvFactoryRegistered: restored backwards compat
  test/base/test_batch.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy
