Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Update 04_tictactoe.rst (#1263)
  docs/01_tutorials/04_tictactoe.rst
Due: none

AtariEnvFactory: Fix super call
  examples/atari/atari_wrapper.py
Due: ruff, black

v1: adjust range for seed to be compatible with envpool
  tianshou/highlevel/env.py
Due: ruff, black, mypy

v1: disable buffer hasnull checks by default
  tianshou/config.py
  tianshou/data/collector.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

v1: fixes in rliable eval data loading, better logging
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

v1: replace all isinstance checks from BatchProtocol to Batch
  test/base/test_collector.py
  tianshou/data/batch.py
  tianshou/data/buffer/her.py
  tianshou/policy/modelbased/psrl.py
Due: ruff, black, mypy

v1: changelog [ci skip]
  CHANGELOG.md
Due: none

v1: bumped version, removed bumpversion [ci skip]
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

v2: Set version to 2.0.0b1
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

v2: adjusted dqn.rst to reflect the new API
  docs/01_tutorials/00_dqn.rst
Due: none

v2: Docs. Improved concepts_rst, mentioned that parts of the docs are outdated
  README.md
  docs/01_tutorials/01_concepts.rst
  docs/01_tutorials/07_cheatsheet.rst
  docs/02_notebooks/0_intro.md
Due: none

v2: Docs. Updated readme and concepts_rst to use v2 structure policies
  README.md
  docs/01_tutorials/01_concepts.rst
Due: none

v2: Lift input validation on set_batch
  tianshou/data/buffer/buffer_base.py
Due: ruff, black, mypy

v2: don't call super().__init__ in OfflineFromOffPolicy
  tianshou/algorithm/algorithm_base.py
Due: ruff, black, mypy

v2: Changelog: Add information on changes pertaining to lagged networks
  CHANGELOG.md
Due: none

v2: Fix typo in docstring
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: Update examples in README
  README.md
Due: none

Fix typo
  CHANGELOG.md
Due: none

Add infobox on v2 release
  README.md
Due: none

Fix formatting in infobox
  README.md
Due: none

Experiment: remove inheritance of DataclassPPrintMixin
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Docstring, minor: full path to `stop_fn` instead of :attr:`stop_fn`
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Remove DataclassPPrintMixin from Experiment, which is not a dataclass
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix procedural example in README [skip ci]
  README.md
  examples/discrete/discrete_dqn.py
Due: ruff, black

Encoding of observations in subproc.py had a too strict check on observation type
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Encoding of observations in subproc.py had a too strict check on obserrvation type (#1273)
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Formating
  examples/discrete/discrete_dqn.py
Due: ruff, black

Update contributor info
  docs/04_contributing/05_contributors.rst
Due: none

Remove package tianshou.policy
  tianshou/policy/__init__.py
Due: ruff, black, mypy

Add documentation page on Tianshou's dual APIs
  docs/01_tutorials/01_apis.md
Due: none

Add overview of learning process with glossary of terms
  docs/01_tutorials/00_training_process.md
  docs/_config.yml
  docs/_static/images/agent-env-step1.png
  docs/_static/images/agent-env-step2.png
  docs/_static/images/agent-env-step3.png
  docs/_static/images/agent-env-step4.png
Due: none

Change 'Concepts' page to 'Internals'
  docs/01_tutorials/02_internals.rst
Due: none

Update docs landing page, fixing links to classes
  docs/index.rst
Due: none

Remove outdated document on DQN application/explanation of core concepts
  docs/01_tutorials/00_dqn.rst
  docs/01_tutorials/07_cheatsheet.rst
  test/pettingzoo/pistonball_continuous.py
  tianshou/data/buffer/buffer_base.py
  tianshou/env/atari/atari_network.py
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

Minor
  examples/mujoco/mujoco_ppo_hl_multi.py
  tianshou/evaluation/launcher.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Added low-level API example for multiple experiments with rliable eval
  examples/mujoco/mujoco_ppo_multi.py
Due: ruff, black

Fixed missing passing of seed
  examples/mujoco/mujoco_env.py
Due: ruff, black

High level interface for launching and evaluating multiple experiments
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  poetry.lock
  pyproject.toml
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/highlevel/experiment.py
  tianshou/policy/__init__.py
Due: ruff, black, poetry-check, mypy

Removed unneeded dedicated hl_multi example
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
