Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

v2: Better handling of max_action in actor
  test/continuous/test_redq.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  tianshou/algorithm/modelfree/reinforce.py
Due: ruff, black, mypy

v2: Rename trainer parameter reward_metric -> multi_agent_return_reduction
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: block comment
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: minor, renamed kwarg
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: Remove some TODOs
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: Minor typefix
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: removed unused kwarg
  tianshou/algorithm/algorithm_base.py
Due: ruff, black, mypy

v2: Comments, typos, minor renaming
  test/offline/test_bcq.py
  tianshou/algorithm/modelfree/reinforce.py
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: add_exploration_noise - raise error on wrong type instead of doing nothing
  tianshou/algorithm/modelfree/bdqn.py
  tianshou/algorithm/modelfree/dqn.py
Due: ruff, black, mypy

v2: Remove TODOs
  tianshou/algorithm/modelfree/discrete_sac.py
  tianshou/algorithm/modelfree/fqf.py
  tianshou/algorithm/modelfree/reinforce.py
  tianshou/algorithm/modelfree/trpo.py
Due: ruff, black, mypy

v2: Fix mypy issues
  tianshou/algorithm/modelfree/bdqn.py
  tianshou/algorithm/modelfree/dqn.py
  tianshou/algorithm/modelfree/reinforce.py
  tianshou/data/buffer/__init__.py
Due: ruff, black, mypy

v1: improvement in doc-build commands
  docs/autogen_rst.py
  docs/spelling_wordlist.txt
  pyproject.toml
Due: ruff, black, poetry-check

v2: docs - removed outdated documents, fixed remaning
  docs/01_tutorials/00_dqn.rst
  docs/01_tutorials/01_concepts.rst
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L4_GAE.ipynb
  docs/02_notebooks/L4_Policy.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

v1: minor improvement in doc-build command
  pyproject.toml
Due: poetry-check

v2: minor fixes in docstrings, doc build runs through
  tianshou/algorithm/modelfree/ddpg.py
  tianshou/algorithm/modelfree/sac.py
  tianshou/algorithm/modelfree/td3.py
  tianshou/env/atari/atari_network.py
  tianshou/highlevel/params/alpha.py
  tianshou/policy/__init__.py
  tianshou/trainer/trainer.py
  tianshou/utils/lagged_network.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

v2: Fix import
  tianshou/env/atari/atari_network.py
Due: ruff, black, mypy

v2: Rename BranchingActor back to BranchingNet
  examples/box2d/bipedal_bdq.py
  test/discrete/test_bdqn.py
  tianshou/algorithm/modelfree/bdqn.py
  tianshou/utils/net/common.py
Due: ruff, black, mypy

v2: Fix renamed class reference
  CHANGELOG.md
Due: none

v2: Add mock import for cv2 (used in atari_wrapper)
  docs/_config.yml
Due: none

Fix create_toc_py not accounting for spaces in paths
  docs/create_toc.py
Due: ruff, black

Fix unquoted maths in docstring
  tianshou/highlevel/params/alpha.py
Due: ruff, black, mypy

v2: Disable determinism tests for CI
  test/determinism_test.py
Due: ruff, black

Fix ruff complaint
  docs/autogen_rst.py
Due: ruff, black

Document determinism test usage
  docs/04_contributing/04_contributing.rst
Due: none

Mentioned determinism tests in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Allow collection of empty episodes (done on reset)
  CHANGELOG.md
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
Due: ruff, black, mypy

High-level API: Change the way in which seeding is handled
  CHANGELOG.md
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/env_factory.py
  tianshou/env/worker/base.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix syntax issue
  docs/04_contributing/04_contributing.rst
Due: none

v2: Update parameter names (mainly test_num -> num_test_envs)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/discrete/discrete_dqn.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  examples/vizdoom/env.py
  test/continuous/test_sac_with_il.py
  test/determinism_test.py
  test/discrete/test_a2c_with_il.py
  tianshou/env/atari/atari_wrapper.py
Due: ruff, black, mypy

v2: Fix logic error introduced in commit 03123510
  tianshou/algorithm/modelfree/bdqn.py
  tianshou/algorithm/modelfree/dqn.py
Due: ruff, black, mypy

v2: Handle nested algorithms in Algorithm.state_dict
  tianshou/algorithm/algorithm_base.py
Due: ruff, black, mypy

v2: Update identifier names (policy -> algorithm)
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/persistence.py
  tianshou/highlevel/world.py
Due: ruff, black, mypy

v2: Rename hl module: policy_wrapper -> algorithm_wrapper
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/algorithm_wrapper.py
Due: ruff, black, mypy

v2: HL: Move optim module to params package
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/algorithm_params.py
  tianshou/highlevel/params/algorithm_wrapper.py
  tianshou/highlevel/params/alpha.py
  tianshou/highlevel/params/optim.py
Due: ruff, black, mypy

v2: Add issue references
  CHANGELOG.md
Due: none

v2: WIP, improve offline algo performance
  tianshou/algorithm/algorithm_base.py
  tianshou/algorithm/imitation/td3_bc.py
  tianshou/data/buffer/buffer_base.py
Due: ruff, black, mypy

Update 04_tictactoe.rst
  docs/01_tutorials/04_tictactoe.rst
Due: none
