Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Use action_dim from SpaceInfo to compute target entropy
  test/offline/gather_pendulum_data.py
Due: ruff, black

Fix mypy issues
  test/modelbased/test_dqn_icm.py
Due: ruff, black

Fix mypy issues
  test/discrete/test_sac.py
Due: ruff, black

Refactor SpaceInfo constructor method from_env()
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/offline/gather_cartpole_data.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Fix mypy issues
  test/discrete/test_rainbow.py
Due: ruff, black

Fix mypy issues
  test/discrete/test_qrdqn.py
Due: ruff, black

Fix mypy issues
  test/discrete/test_ppo.py
Due: ruff, black

Fix mypy issues
  test/continuous/test_ppo.py
Due: ruff, black

Fix mypy issues: continuous/test_npg
  test/continuous/test_npg.py
Due: ruff, black

Fix mypy issues: continuous/test_ddpg
  test/continuous/test_ddpg.py
Due: ruff, black

Fix similar mypy issues in a bunch of test files
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
Due: ruff, black

Fix similar mypy issues in a bunch of test files
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
Due: ruff, black

Reformat L4 for correct implementation of simplified PGPolicy
  docs/02_notebooks/L4_Policy.ipynb
  tianshou/policy/base.py
Due: ruff, black, mypy

Add mypy and ruff check for notebooks
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
  pyproject.toml
Due: poetry-check

Small wording changes
  docs/02_notebooks/0_intro.md
  docs/02_notebooks/L0_overview.ipynb
  docs/spelling_wordlist.txt
Due: none

Fix similar mypy issues in a bunch of test files
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/discrete/discrete_dqn.py
  examples/inverse/irl_gail.py
  examples/offline/d4rl_bcq.py
  examples/offline/d4rl_cql.py
  examples/offline/d4rl_il.py
  examples/offline/d4rl_td3_bc.py
Due: ruff, black

Use more specific type annotations for policy
  test/continuous/test_ddpg.py
  test/continuous/test_redq.py
  test/continuous/test_td3.py
  test/discrete/test_c51.py
  test/discrete/test_drqn.py
  test/discrete/test_iqn.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_crr.py
  test/offline/test_td3_bc.py
Due: ruff, black

Fix mypy issue for logger in if-else
  test/modelbased/test_psrl.py
Due: ruff, black

Set return type of dist to torch.distributions.Distribution
  examples/inverse/irl_gail.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_trpo.py
  test/pettingzoo/pistonball_continuous.py
Due: ruff, black

Fix mypy issues: no type annotation for policy, agent
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/bipedal_bdq.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  test/base/test_policy.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/modelbased/test_psrl.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/pistonball_continuous.py
Due: ruff, black

Fix type annotation for `dist` func
  examples/atari/atari_ppo.py
  examples/mujoco/mujoco_reinforce.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Fix logging type annotations in examples
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/common.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Fix mypy issue incompatible types in assignment buffer
  examples/atari/atari_rainbow.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
Due: ruff, black

Add type annotation to main() and watch()
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/atari/atari_sac_hl.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/offline/convert_rl_unplugged_atari.py
  examples/vizdoom/replay.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Fix incompatible type to `run_cli()`
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

reduced number of train and test envs in examples
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

updated pyproject.toml and poetry.lock
  poetry.lock
  pyproject.toml
Due: poetry-check

updated readme
  README.md
Due: none

Typo
  README.md
Due: none

link [skip ci]
  README.md
Due: none

Duplicate entry [skip ci]
  pyproject.toml
Due: poetry-check

removed old gym api references
  examples/box2d/bipedal_hardcore_sac.py
Due: ruff, black

removed wandb import
  examples/mujoco/fetch_her_ddpg.py
Due: ruff, black

added argparse extra and explanation regarding dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

Update and fix dependencies related to mac install (#1044)
  README.md
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check

Fixed path_to_book for jupyter config
  docs/_config.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
