Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Fix gitignore applying to tianshou/env on platfoms with case-insensitive file system
  .gitignore
Due: none

Resolve platform-specific/installation-specific mypy issues by adding ignores and ignoring unused ignores locally
  tianshou/env/worker/ray.py
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Apply nbqa only to the docs/ folder and exclude the (old) jupyter_execute folder
  pyproject.toml
Due: poetry-check

Minor improvements to buffer
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Refactor collect to remove collect stats collector
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Address Mischa's comments
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Remove mutable logger_factory used by examples
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/common.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Fix mypy issues
  test/base/test_returns.py
Due: ruff, black

Capitalise constants
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Refactor collect(). WIP!
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

remove old python versions
  pyproject.toml
Due: poetry-check

remove old python versions from poetry classifier (#1059)
  pyproject.toml
Due: poetry-check

Fix high-level examples (were broken by commit eb0215cf)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Change type annotation of run_cli to make mypy happy
  tianshou/utils/logging.py
Due: ruff, black, mypy

Add watch env to experiment and restore obs normalization if present during training
  examples/mujoco/mujoco_env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/world.py
Due: ruff, black, mypy

Add type annotations to funcs signatures
  test/base/test_buffer.py
Due: ruff, black

remove self.data, break async tests
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Rename variable to resolve type conflict
  test/base/test_buffer.py
Due: ruff, black

Provide right input type to buffer methods
  test/base/test_buffer.py
Due: ruff, black

Fix the link to the contributing guide.
  README.md
Due: none

Index sample from buffer according to cheatsheet recommendations
  test/base/test_buffer.py
Due: ruff, black

Type index to make mypy happy
  test/base/test_buffer.py
Due: ruff, black

Make mypy happy and check for mask attribute before asserting tests
  test/base/test_buffer.py
Due: ruff, black

Make mypy happy and specify union of types
  test/base/test_buffer.py
Due: ruff, black

Use recommended outer buffer indexing
  test/base/test_buffer.py
Due: ruff, black

Make mypy happy and type ndarray
  test/base/test_buffer.py
Due: ruff, black

Remove preprocess_fn, adapt tests.
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Access buffer attrs with __getattr__
  test/base/test_buffer.py
Due: ruff, black

Fix link to contributing
  README.md
Due: none

Fix the link to the contributing guide. (#1062)
  README.md
Due: none

Fix high-level examples (#1060)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  tianshou/utils/logging.py
Due: ruff, black, mypy

move creation of watch_env to EnvFactory
  examples/mujoco/mujoco_env.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/world.py
Due: ruff, black, mypy

type check before watch
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix/add watch env with obs rms (#1061)
  examples/mujoco/mujoco_env.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

using dist.mode instead of logits.argmax. More compact.
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Ignore mypy issue as it explicitly tests for invalid type
  test/base/test_batch.py
Due: ruff, black

Make mypy happy & use explicit var typing and ignore
  test/base/test_batch.py
Due: ruff, black

Ignore type on explicit error
  test/base/test_batch.py
Due: ruff, black

Remove redundant assert
  test/base/test_batch.py
Due: ruff, black

Added publish workflow
  .github/workflows/publish.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
