Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Update spelling_wordlist.txt
  docs/spelling_wordlist.txt
Due: none

Improve the documentation of compute_episodic_return in base policy. (#1130)
  docs/spelling_wordlist.txt
  tianshou/policy/base.py
Due: ruff, black, mypy

Clean up handling of an Experiment's name (and, by extension, a run's name)
  CHANGELOG.md
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Update change log with changes from #1131
  CHANGELOG.md
Due: none

Improve change log #1129
  CHANGELOG.md
Due: none

Add quotations to symbols in base policy docu.
  tianshou/policy/base.py
Due: ruff, black, mypy

Typo docstring (#1132)
  tianshou/policy/base.py
Due: ruff, black, mypy

Set torch train mode in BasePolicy.update instead of in each .learn implementation, as this is less prone to errors
  tianshou/policy/base.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Fix invalid kwarg
  examples/discrete/discrete_dqn_hl.py
Due: ruff, black

Establish backward compatibility by implementing __setstate__
  tianshou/policy/base.py
Due: ruff, black, mypy

BatchPolicy: check that `self.is_within_training_step` is True on update
  tianshou/policy/base.py
Due: ruff, black, mypy

Formatting
  test/base/test_env_finite.py
  tianshou/data/collector.py
  tianshou/highlevel/agent.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/pg.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Collector: removed unnecessary no-grad flag from interfaces. Breaking
  tianshou/data/collector.py
Due: ruff, black, mypy

Improved docstrings, added asserts to make mypy happy
  tianshou/data/collector.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

Collector: move @override, removed docstrings from overridden methods
  tianshou/data/collector.py
Due: ruff, black, mypy

Reinstated warning module
  tianshou/utils/__init__.py
  tianshou/utils/warning.py
Due: ruff, black, mypy

Clean up handling of an Experiment's name (and, by extension, a run's name)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Bugfix: allow for training_stat to be None instead of asserting not-None
  tianshou/data/stats.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Extended changelog, slightly improved structure
  CHANGELOG.md
Due: none

Docstrings, skip hidden files in autogen_rst
  docs/autogen_rst.py
  tianshou/data/collector.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Tests: fixed test_psrl.py: use args.reward_threshold instead of spec
  test/modelbased/test_psrl.py
Due: ruff, black

New context manager: policy_within_training_step
  CHANGELOG.md
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L4_Policy.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  test/base/test_utils.py
  tianshou/data/collector.py
  tianshou/policy/base.py
  tianshou/trainer/base.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

Added and used new VenvType: SUBPROC_SHARED_MEM_AUTO
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Extension of ExpLauncher and DataclassPPrintMixin
  CHANGELOG.md
  examples/mujoco/mujoco_ppo_hl_multi.py
  tianshou/evaluation/launcher.py
  tianshou/highlevel/config.py
  tianshou/highlevel/experiment.py
  tianshou/utils/print.py
Due: ruff, black, mypy

fix: missing [crucial] quotation mark in the code snippet, which fails the installling of poetry.
  README.md
Due: none

enh: add more clear documentation for poetry install --extras
  README.md
Due: none

fmt: tiny formatting on markdown table dashes
  README.md
Due: none

added favicon of tianshou and changed the style to be more wide.
  docs/_config.yml
  docs/_static/css/style.css
  docs/_static/images/tianshou-favicon.png
Due: none

[ENH] Improving Documentation webpage (#1150)
  docs/_config.yml
  docs/_static/css/style.css
  docs/_static/images/tianshou-favicon.png
Due: none

[Fix&Enhance&Format] On README.md about poetry install (#1146)
  README.md
Due: none

Improve interface of BasePolicy.compute_action, supporting array-like observations in addition to actual arrays #1169
  CHANGELOG.md
  tianshou/policy/base.py
Due: ruff, black, mypy

Improve interface of BasePolicy.compute_action (#1170)
  CHANGELOG.md
  tianshou/policy/base.py
Due: ruff, black, mypy

Forgot to remove use of is_empty
  tianshou/data/batch.py
Due: ruff, black, mypy

Remove Batch.is_empty
  docs/01_tutorials/03_batch.rst
  test/base/test_batch.py
  test/base/test_buffer.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Update Changelog
  CHANGELOG.md
Due: none

Minor refactor syntax in tutorials
  docs/01_tutorials/03_batch.rst
Due: none

Refactoring/remove is empty batch (#1144)
  CHANGELOG.md
  docs/01_tutorials/03_batch.rst
  test/base/test_batch.py
  test/base/test_buffer.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Added support for minibatch in PPO process_fn
  tianshou/policy/modelfree/ppo.py
Due: ruff, black, mypy

Typo
  tianshou/policy/modelfree/ppo.py
Due: ruff, black, mypy

Added support for minibatch in PPO process_fn (#1168)
  tianshou/policy/modelfree/ppo.py
Due: ruff, black, mypy
