Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Treat case when cpu_count() is None
  examples/vizdoom/env.py
Due: ruff, black

Fix mypy issues:
  examples/mujoco/mujoco_env.py
Due: ruff, black

Ignore mypy typing on lines that use old Gym API:
  examples/atari/atari_wrapper.py
Due: ruff, black

Make mypy happy and add type to var
  examples/atari/atari_wrapper.py
Due: ruff, black

Use space_info to type env spaces
  examples/box2d/lunarlander_dqn.py
Due: ruff, black

Use assert instead of cast to check for obs_space/action_space:
  examples/box2d/acrobot_dualdqn.py
  examples/discrete/discrete_dqn.py
  examples/offline/d4rl_cql.py
  test/continuous/test_redq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
Due: ruff, black

Fixes in tests, reset
  test/base/test_collector.py
  test/discrete/test_a2c_with_il.py
  test/modelbased/test_psrl.py
  test/offline/gather_cartpole_data.py
  test/offline/test_discrete_bcq.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

poe format
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Fixes in tests, int instead of np.int in Discrete.n
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Use CollectStats with autogenerate_stats in AsyncCollector, put len to int to keep summary format
  tianshou/data/collector.py
Due: ruff, black, mypy

Collector: fixed reset behavor for envpool envs
  tianshou/data/collector.py
Due: ruff, black, mypy

Added a method to converge a batch into dict or a list of dicts
  pyproject.toml
  tianshou/data/batch.py
Due: ruff, black, poetry-check, mypy

Assert action space
  examples/offline/atari_bcq.py
Due: ruff, black

Added explicit iter to batch, fixed mypy issues
  tianshou/data/batch.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Simplified nullable_slice (no need for @overload)
  tianshou/data/collector.py
Due: ruff, black, mypy

Renamed env_ids back to env_id, added a TODO
  tianshou/data/collector.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
Due: ruff, black, mypy

Fixed iter for empty batch
  tianshou/data/batch.py
Due: ruff, black, mypy

Fixed iter in batch
  tianshou/data/batch.py
Due: ruff, black, mypy

Fixed test vectorenv
  test/base/test_env_finite.py
Due: ruff, black

Protocols: removed accidental method implementation (copy-paste error)
  tianshou/data/batch.py
Due: ruff, black, mypy

Removed runtime checkable of ObsBatchProtocol
  tianshou/data/types.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Changelog [skip ci]
  CHANGELOG.md
Due: none

updates
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/tools.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check

move doc string
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

added matplotlib dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

added pandas dependency
  pyproject.toml
Due: poetry-check

fix pandas dependency
  poetry.lock
Due: none

Refactor: replace overload in exploration_noise by generic
  tianshou/policy/base.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Use assert as mypy doesn't know that FetchReach env has compute_reward method
  examples/mujoco/fetch_her_ddpg.py
Due: ruff, black

Check for none before comparing mean_rewards to reward_threshold
  examples/box2d/bipedal_bdq.py
Due: ruff, black

Assert action space before accessing attributes specific to that space
  test/base/test_env.py
Due: ruff, black

Refactor way DQN API is used:
  examples/atari/atari_network.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
Due: ruff, black

Fix FiniteVectorEnv.reset() to satisfy superclass type annotations
  test/base/test_env_finite.py
Due: ruff, black

Fix mypy issues for AtariWrappers
  examples/atari/atari_wrapper.py
Due: ruff, black

Removing logits kw argument in dist_fn inside pg.py
  tianshou/policy/modelfree/pg.py
Due: ruff, black, mypy

replace assert with exception in wandb logger
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

removed name shortener
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

restructured and moved RLiableExperimentResult
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/tools.py
  tianshou/highlevel/evaluation.py
Due: ruff, black, mypy

removed attributes from pandas logger
  tianshou/utils/logger/pandas_logger.py
Due: ruff, black, mypy
