Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Minor post-merge cleanup
  test/base/test_buffer.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Added result aggregation to benchmarking
  benchmark/run_benchmark.py
Due: ruff, black

Extend benchmarking to run for all desired tasks
  benchmark/run_benchmark.py
Due: ruff, black

Minor fixes in typing
  tianshou/evaluation/rliable_evaluation.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Removed no longer needed mujoco_ppo_multi.py
  examples/mujoco/mujoco_ppo_multi.py
Due: ruff, black

Move content from 03_batch.rst into the notebook
  docs/01_tutorials/02_internals.rst
  docs/01_tutorials/03_batch.rst
  docs/02_notebooks/L1_Batch.ipynb
  tianshou/data/batch.py
Due: ruff, black, mypy

Replace 02_internals.rst with a new markdown file 02_core_abstractions.md which focusses on abstract principles and purpose
  docs/01_tutorials/02_core_abstractions.md
  docs/01_tutorials/02_internals.rst
  docs/01_tutorials/05_logger.rst
  tianshou/data/buffer/buffer_base.py
Due: ruff, black, mypy

Add links to classes in API docs
  docs/01_tutorials/00_training_process.md
  docs/01_tutorials/01_apis.md
  docs/01_tutorials/02_core_abstractions.md
Due: none

Renaming of documentation sections
  docs/01_tutorials/index.rst
  docs/01_user_guide/00_training_process.md
  docs/01_user_guide/01_apis.md
  docs/01_user_guide/02_core_abstractions.md
  docs/01_user_guide/04_tictactoe.rst
  docs/01_user_guide/06_benchmark.rst
  docs/01_user_guide/07_cheatsheet.rst
  docs/01_user_guide/index.rst
  docs/02_deep_dives/0_intro.md
  docs/02_deep_dives/L1_Batch.ipynb
  docs/02_deep_dives/L2_Buffer.ipynb
  docs/02_deep_dives/L3_Vectorized__Environment.ipynb
  docs/02_deep_dives/L4_GAE.ipynb
  docs/02_deep_dives/L5_Collector.ipynb
  docs/02_notebooks/0_intro.md
Due: none

Restore images
  docs/02_deep_dives/L1_Batch.ipynb
Due: none

Refactored mujoco low-level examples to use jsonargparse
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
Due: ruff, black

Refactored atari low-level examples to use jsonargparse
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
Due: ruff, black

Reinstating parameterization of v0.5.0 in mujoco hl scripts
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Improve user guide
  docs/01_user_guide/00_training_process.md
  docs/01_user_guide/01_apis.md
  docs/01_user_guide/02_core_abstractions.md
Due: none

Move MARL stuff from 07_cheatsheet to 04_tictactoe
  docs/01_user_guide/04_tictactoe.rst
  docs/01_user_guide/07_cheatsheet.rst
Due: none

Rename MARL section
  docs/01_user_guide/04_marl.rst
Due: none

More parameterization in hl scripts, used in benchmarking
  benchmark/run_benchmark.py
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Move MARL content to a notebook, rewriting the text
  docs/01_user_guide/04_marl.rst
  docs/02_deep_dives/L6_MARL.ipynb
Due: none

Consolidate content from 07_cheatsheet and notebook on vec. environments in a new notebook
  docs/01_user_guide/07_cheatsheet.rst
  docs/02_deep_dives/L3_Environments.ipynb
  docs/02_deep_dives/L3_Vectorized__Environment.ipynb
Due: none

Remove 07_cheatsheet (all useful content was moved elsewhere)
  docs/01_user_guide/07_cheatsheet.rst
Due: none

Move benchmarks out of user guide
  docs/04_benchmarks/benchmarks.rst
  docs/05_developer_guide/developer_guide.md
  docs/06_contributors/contributors.rst
  docs/_static/js/benchmark.js
Due: none

Revise headings
  docs/02_deep_dives/L2_Buffer.ipynb
  docs/02_deep_dives/L3_Environments.ipynb
  docs/02_deep_dives/L4_GAE.ipynb
Due: none

Fix first half of MARL notebook
  docs/02_deep_dives/L6_MARL.ipynb
Due: none

Remove duplication ("Choosing Your Path")
  docs/01_user_guide/01_apis.md
Due: none

Fix second half of MARL notebook
  docs/02_deep_dives/L6_MARL.ipynb
  tianshou/env/pettingzoo_env.py
Due: ruff, black, mypy

Fix execution issues due to objects not being picklable
  docs/02_deep_dives/L3_Environments.ipynb
Due: none

Remove error log for np.array case in _update_state_pre_add, leaving only TODO
  tianshou/data/buffer/buffer_base.py
Due: ruff, black, mypy

Disable nbqa
  pyproject.toml
Due: poetry-check

Improve docs build, showing errors in notebook executions
  .github/workflows/lint_and_docs.yml
Due: none

Only provide envpool example code, don't execute it
  docs/02_deep_dives/L3_Environments.ipynb
Due: none

Disable progress bar for learning process
  docs/02_deep_dives/L6_MARL.ipynb
Due: none

Add info on BatchProtocol and derived protocols
  docs/01_user_guide/02_core_abstractions.md
Due: none

Overhaul Batch deep dive
  docs/02_deep_dives/L1_Batch.ipynb
Due: none

Overhaul Buffer deep dive
  docs/02_deep_dives/L2_Buffer.ipynb
Due: none

Overhaul Collector deep dive
  docs/02_deep_dives/L5_Collector.ipynb
Due: none

Move trainer module to top-level, removing obsolete package of the same name
  tianshou/trainer.py
  tianshou/trainer/__init__.py
Due: ruff, black, mypy

Fix links to classes
  docs/01_user_guide/01_apis.md
  docs/01_user_guide/02_core_abstractions.md
Due: none
