Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Move trainer module to top-level, removing obsolete package of the same name
  tianshou/trainer.py
  tianshou/trainer/__init__.py
Due: ruff, black, mypy

Overhaul Buffer deep dive
  docs/02_deep_dives/L2_Buffer.ipynb
Due: none

Removed obsolete result aggregation script
  examples/mujoco/gen_json.py
Due: ruff, black

Bumped epochs for off-policy algos and switched launcher to joblib
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
Due: ruff, black

Automatically set test_step_num_episodes to num_test_envs by default
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Benchmark script: minor improvement in tmux session counting
  benchmark/run_benchmark.py
Due: ruff, black

More renamings of type train -> training
  CHANGELOG.md
  README.md
  docs/01_tutorials/01_apis.md
  examples/discrete/discrete_dqn_hl.py
  examples/inverse/irl_gail.py
  examples/modelbased/psrl.py
  examples/mujoco/mujoco_env.py
  tianshou/env/atari/atari_wrapper.py
  tianshou/highlevel/env.py
  tianshou/trainer/trainer.py
  tianshou/utils/logger/logger_base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Bugfix: passing save_interval in create_logger
  tianshou/highlevel/logger.py
Due: ruff, black, mypy

Minor restructuring, improved defaults and docstrings in loggers
  tianshou/highlevel/logger.py
  tianshou/utils/logger/logger_base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
  tianshou/utils/net/discrete.py
  tianshou/utils/statistics.py
Due: ruff, black, mypy

Minor restructuring, improved defaults and docstrings in loggers
  tianshou/highlevel/logger.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Less invasive logging on training
  tianshou/highlevel/experiment.py
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

Configurable experiment launcher in run_benchmark.py
  benchmark/run_benchmark.py
Due: ruff, black

Minor
  benchmark/run_benchmark.py
  tianshou/evaluation/launcher.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Benchmark: support for include and exclude filter
  benchmark/run_benchmark.py
Due: ruff, black

Lowered number of epochs in mujoco off-policy examples
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_td3_hl.py
Due: ruff, black

Docs: support for mermaid diagrams
  docs/_config.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Rewrote and extended batch notebook
  docs/02_deep_dives/L1_Batch.ipynb
Due: none

Rewrote and extended buffer notebook
  docs/02_deep_dives/L2_Buffer.ipynb
  pyproject.toml
Due: poetry-check

Benchmarking: possibility to pass num_training/test_envs
  benchmark/run_benchmark.py
Due: ruff, black

Docstring
  benchmark/run_benchmark.py
Due: ruff, black

Minor [ci skip]
  docs/04_benchmarks/benchmarks.rst
Due: none

Minified json, removed old one
  docs/_static/js/mujoco/benchmark/Ant-v4/results.json
  examples/mujoco/benchmark/HalfCheetah-v3/result.json
Due: none

Minor fixes related to renamings
  README.md
  docs/02_deep_dives/L5_Collector.ipynb
  docs/02_deep_dives/L6_MARL.ipynb
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/config.py
  tianshou/trainer.py
Due: ruff, black, mypy

Docs: minor fix in mermaid diagram
  docs/02_deep_dives/L1_Batch.ipynb
Due: none

Update README for v2 release
  README.md
Due: none

Release v2.0.0
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

Remove duplicate info icon [skip ci]
  README.md
Due: none

Update change log [skip ci]
  CHANGELOG.md
Due: none

Extend change log [skip ci]
  CHANGELOG.md
Due: none

Fix Experiment.run returning ExperimentResult with trainer_result unset (None)
  CHANGELOG.md
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix link to developer guide [skip ci]
  CONTRIBUTING.md
Due: none

Disable fail-fast for matrix build (py_latest failing should not stop py_pinned, in particular)
  .github/workflows/pytest.yml
Due: none

fix: restore original parameters when TRPO line search fails
  CHANGELOG.md
  tianshou/algorithm/modelfree/trpo.py
Due: ruff, black, mypy

Constrain pandas to <3 owing to incompatibility
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Remove conda badge from README [skip ci]
  README.md
Due: none

Release v2.0.1
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

Release v2.0.1
  CHANGELOG.md
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy
