Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

fixed logger test
  test/base/test_logger.py
Due: ruff, black

Make mypy happy and use typing for obs_space_dtype
  examples/atari/atari_wrapper.py
Due: ruff, black

Assert env.action_space = MultiDiscrete:
  test/discrete/test_bdq.py
Due: ruff, black

pleased the mypy gods
  examples/mujoco/mujoco_ppo_hl_multi.py
  test/base/test_logger.py
  tianshou/highlevel/evaluation.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/pandas_logger.py
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

Extend IndexType to explicitly have list[int]:
  tianshou/data/batch.py
Due: ruff, black, mypy

Use SpaceInfo to type env obs/action space:
  examples/offline/atari_cql.py
Due: ruff, black

added primitive joblib launcher
  examples/mujoco/joblib_launcher.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  poetry.lock
  pyproject.toml
Due: ruff, black, poetry-check

Use SpaceInfo to type env obs/action space:
  examples/offline/atari_il.py
Due: ruff, black

Assert action space before accessing space-specific attrs
  examples/vizdoom/env.py
Due: ruff, black

Add type hints to obs/action spaces:
  examples/box2d/bipedal_bdq.py
Due: ruff, black

Add type hints to action/obs spaces:
  test/discrete/test_bdq.py
Due: ruff, black

Minor reformat comments
  examples/box2d/bipedal_bdq.py
  test/discrete/test_bdq.py
Due: ruff, black

fixed env seeding in test_sac_with_il.py
  test/continuous/test_sac_with_il.py
Due: ruff, black

fixed env seeding in test_sac_with_il.py (#1081)
  test/continuous/test_sac_with_il.py
Due: ruff, black

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Removed link to Chinese docs [skip ci]
  docs/04_contributing/04_contributing.rst
Due: none

Removed more references to Chinese docs [skip ci]
  README.md
  docs/index.rst
Due: none

Dosctrings
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

Improved type hints and docstrings for Actor and Critic
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

Minor var renaming [skip ci]
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

BREAKING: changed type of dist_fn for continuous cases
  docs/02_notebooks/L4_Policy.ipynb
  examples/inverse/irl_gail.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_trpo.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_trpo.py
  test/offline/test_gail.py
  test/pettingzoo/pistonball_continuous.py
  tianshou/highlevel/params/dist_fn.py
  tianshou/highlevel/params/policy_params.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/trpo.py
Due: ruff, black, mypy

Spelling [skip ci]
  docs/spelling_wordlist.txt
Due: none

Fixed dist_fn in test
  test/base/test_policy.py
Due: ruff, black

Spelling
  docs/spelling_wordlist.txt
Due: none

Changelog [skip ci]
  CHANGELOG.md
Due: none

Post-resolving conflicts in tests and examples
  examples/atari/atari_ppo.py
  examples/vizdoom/vizdoom_ppo.py
  test/base/test_collector.py
  test/base/test_env.py
  test/base/test_env_finite.py
  test/base/test_policy.py
Due: ruff, black

Pyproject: added stubs, included tests and examples in type-check
  poetry.lock
  pyproject.toml
Due: poetry-check

Extended pre-commit type check [skip ci]
  .pre-commit-config.yaml
Due: none

Typo in test
  test/base/test_collector.py
Due: ruff, black

Remove type in IndexType for batch
  tianshou/data/batch.py
Due: ruff, black, mypy

Capitalise constants and remove redundant default description in buffer.
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
Due: ruff, black, mypy

Use assert hasattr instead of getattr
  test/base/test_stats.py
Due: ruff, black

Remove iter since Batch already implements __iter__
  test/base/test_returns.py
Due: ruff, black

Use Literal instead of asserting members of list
  examples/mujoco/plotter.py
Due: ruff, black

Refactor input validation of collector
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Don't raise error on len of empty Batch
  tianshou/data/batch.py
Due: ruff, black, mypy

Use stop_fn for running this example
  examples/box2d/bipedal_bdq.py
Due: ruff, black

Use more specific type hint for policy to get access to policy-specific attrs and methods
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
  test/continuous/test_sac_with_il.py
  test/continuous/test_trpo.py
  test/discrete/test_dqn.py
  test/discrete/test_fqf.py
  test/discrete/test_pg.py
  test/offline/test_discrete_cql.py
  test/offline/test_gail.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
