Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Reintroduce ignored Ruff rules D106 and D205
  pyproject.toml
Due: poetry-check

Experiment builders for DQN and IQN: * Fix: Disable softmax in default models * Add method with_model_factory_default (for DQN)
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Resolved mypy errors & Pretty-print class' objects function for data.stats
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  tianshou/data/collector.py
  tianshou/data/stats.py
  tianshou/env/venvs.py
  tianshou/env/worker/ray.py
  tianshou/env/worker/subproc.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Create utils.print.py file for pretty-print
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  tianshou/data/collector.py
  tianshou/data/stats.py
  tianshou/utils/print.py
Due: ruff, black, mypy

Fix no-untyped-def by adding annotation to funcs
  test/offline/test_cql.py
Due: ruff, black

Fix var-annotated by providing type for policy var
  test/offline/test_cql.py
Due: ruff, black

Minor simplification in train_step (#1019)
  tianshou/trainer/base.py
Due: ruff, black, mypy

Fix models using scale_obs not being persistable (due to locally defined class)
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_network.py
  examples/atari/atari_ppo.py
  examples/atari/atari_sac_hl.py
Due: ruff, black

Improve naming of callback classes and related methods/attributes
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/atari/atari_wrapper.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/trainer.py
Due: ruff, black, mypy

Remove inappropriate warning (warns about supported case according to docstring)
  tianshou/data/collector.py
Due: ruff, black, mypy

Implement make_atari_env via AtariEnvFactory, eliminating duplication
  examples/atari/atari_wrapper.py
Due: ruff, black

Update MuJoCo examples to use Ant-v4 instead of Ant-v3
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Improve environment factory abstractions in high-level API:
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_env.py
  test/highlevel/env_factory.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Move callbacks for setting DQN epsilon values to the library
  examples/atari/atari_callbacks.py
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  tianshou/highlevel/trainer.py
  tianshou/utils/logger/base.py
Due: ruff, black, mypy

Add high-level discrete example (CartPole) for README
  examples/discrete/discrete_dqn_hl.py
Due: ruff, black

Add type annotations to funcs
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
Due: ruff, black

Update procedural example in README
  README.md
Due: none

Add screen recording of high-level example
  README.md
  docs/_static/images/discrete_dqn_hl.gif
Due: none

Remove video from procedural example as it pertains to a different algorithm
  README.md
Due: none

Add example from README (with minor updates)
  examples/discrete/discrete_dqn.py
Due: ruff, black

Add high-level example to README
  README.md
Due: none

Remove PyTorch warning from README
  README.md
Due: none

Improve language in README
  README.md
Due: none

Cleaned up handling of output_dim retrieval, adding exceptions for erroneous cases
  examples/atari/atari_network.py
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

Refactoring, improving class name EnvFactoryGymnasium -> EnvFactoryRegistered
  README.md
  examples/atari/atari_wrapper.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_env.py
  test/highlevel/env_factory.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Improve docstrings
  examples/atari/atari_wrapper.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Make envpool usage configuration more explicit
  examples/atari/atari_wrapper.py
  examples/mujoco/mujoco_env.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Check if env.spec is not None before accessing attrs
  test/offline/test_cql.py
Due: ruff, black

Add utils for typing space infos from gym
  test/utils.py
Due: ruff, black

Fix typing action/obs space gym
  test/offline/test_cql.py
Due: ruff, black

add -> None to __init__
  test/highlevel/env_factory.py
Due: ruff, black

Resolve mypy tyoe errors on L0
  docs/02_notebooks/L0_overview.ipynb
Due: none

Resolve mypy tyoe errors on L1
  docs/02_notebooks/L1_Batch.ipynb
Due: none

Refactor get_spaces_info()
  test/offline/test_cql.py
  test/utils.py
Due: ruff, black

Resolve mypy type errors on L2
  docs/02_notebooks/L2_Buffer.ipynb
Due: none

Resolve mypy type errors on L3
  docs/02_notebooks/L2_Buffer.ipynb
Due: none

Resolve mypy type errors on L3
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
Due: none

Add type hints to env space attrs
  test/offline/test_bcq.py
Due: ruff, black

Print rollout stats only if available. Abstract print in util function.
  test/offline/test_discrete_bcq.py
  test/utils.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
