Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Removed old and deprecated BasicLogger
  tianshou/utils/__init__.py
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

Logging: improved typing using recursive type definition
  tianshou/data/types.py
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Env: added argparse deps tp eval extra
  poetry.lock
  pyproject.toml
Due: poetry-check

Experiment: use absolute paths
  tianshou/highlevel/world.py
Due: ruff, black, mypy

Rliable eval: added docstring, improved figure layout, option to display figures
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Launcher: don't modify user input, set loky as default backend
  tianshou/evaluation/launcher.py
Due: ruff, black, mypy

Multi-experiment script: run sequentially by default, added docstring
  examples/mujoco/mujoco_ppo_hl_multi.py
Due: ruff, black

Feature/algo eval (#1074)
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  docs/spelling_wordlist.txt
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/atari/atari_wrapper.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  poetry.lock
  pyproject.toml
  test/base/test_logger.py
  test/highlevel/env_factory.py
  test/highlevel/test_experiment_builder.py
  tianshou/data/types.py
  tianshou/evaluation/__init__.py
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/highlevel/config.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/logger.py
  tianshou/highlevel/world.py
  tianshou/utils/__init__.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, poetry-check, mypy

Collect same number of episodes in each worker. Cleanup sync collector input checking
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Refactor pointer grammer in buffer and buffer/manager
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
Due: ruff, black, mypy

add is_eval attribute to policy and set this attribute as well as train mode in appropriate places
  tianshou/data/collector.py
  tianshou/highlevel/experiment.py
  tianshou/policy/base.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

update examples
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/discrete/discrete_dqn.py
  examples/inverse/irl_gail.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  examples/offline/d4rl_bcq.py
  examples/offline/d4rl_cql.py
  examples/offline/d4rl_il.py
  examples/offline/d4rl_td3_bc.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

update tests
  test/base/test_policy.py
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/highlevel/env_factory.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/modelbased/test_psrl.py
  test/offline/gather_cartpole_data.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/pistonball_continuous.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Changelog [skip-ci]
  CHANGELOG.md
Due: none

Fix poetry lock ater merge
  poetry.lock
Due: none

Typo [skip ci]
  CHANGELOG.md
Due: none

Changelog + dependabot bumps (#1124)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Update batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Deleted long deprecated functionality, removed unused warning module
  tianshou/env/worker/base.py
  tianshou/trainer/base.py
  tianshou/utils/__init__.py
  tianshou/utils/warning.py
Due: ruff, black, mypy

Tests: removed all instances of `if __name__ == ...` in tests
  test/base/test_action_space_sampling.py
  test/base/test_batch.py
  test/base/test_buffer.py
  test/base/test_collector.py
  test/base/test_env.py
  test/base/test_env_finite.py
  test/base/test_returns.py
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/modelbased/test_psrl.py
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/offline/test_td3_bc.py
  test/pettingzoo/test_pistonball.py
  test/pettingzoo/test_pistonball_continuous.py
  test/pettingzoo/test_tic_tac_toe.py
Due: ruff, black

Added in_eval/in_train mode contextmanager
  test/base/test_utils.py
  tianshou/trainer/utils.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

Tests: fixed typing issues by declaring union types and no longer reusing var names
  test/base/test_buffer.py
  test/base/test_collector.py
  test/base/test_utils.py
  test/offline/test_discrete_bcq.py
  test/offline/test_discrete_cql.py
  test/offline/test_discrete_crr.py
  tianshou/utils/torch_utils.py
Due: ruff, black, mypy

Use the new BaseCollector interface for annotations
  tianshou/data/__init__.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/world.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

Changelog
  CHANGELOG.md
Due: none

Formatting
  tianshou/data/__init__.py
Due: ruff, black, mypy

Dosctring add return [skip-ci]
  tianshou/data/collector.py
Due: ruff, black, mypy

DQN: * Fix input validation * Fix output_dim not being set if features_only=True and output_dim_added_layer not None
  examples/atari/atari_network.py
Due: ruff, black

Add pickle/serialisation utils: setstate and getstate
  tianshou/utils/pickle.py
Due: ruff, black, mypy

SamplingConfig: Improve docstrings of replay_buffer_save_only_last_obs, replay_buffer_stack_num
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Fix typo
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Improve docstrings
  tianshou/data/buffer/base.py
Due: ruff, black, mypy

CriticFactoryReuseActor: Fix the case where we want to reuse an actor's preprocessing network for the critic (must be applied before concatenating the actions)
  tianshou/highlevel/module/critic.py
Due: ruff, black, mypy

Mention CHANGELOG.md in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update change log with changes from #1128
  CHANGELOG.md
Due: none

Improve compute_episodic_return documentation.
  tianshou/policy/base.py
Due: ruff, black, mypy

unified build method for hl experiments
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  test/highlevel/test_experiment_builder.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
