Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Changelog
  CHANGELOG.md
Due: none

Typing, typo in test
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Dependencies: use the official rliable repo instead of aAI institute fork
  poetry.lock
  pyproject.toml
Due: poetry-check

Changelog [ci skip]
  CHANGELOG.md
Due: none

Bumped version to 1.1.0 [ci skip]
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

Bumped version to 1.2.0-dev [ci skip]
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

Dependencies: use release of rliable-fork instead of git dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

Added support for AdamWScheduleFree optimizer
  poetry.lock
  pyproject.toml
  tianshou/highlevel/optim.py
Due: ruff, black, poetry-check, mypy

add `evaluate_test_fn` to `BaseTrainer`
  tianshou/data/stats.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

rename to `compute_score_fn`
  tianshou/data/stats.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

fix mypy error
  tianshou/trainer/base.py
Due: ruff, black, mypy

fix black format error
  tianshou/trainer/base.py
Due: ruff, black, mypy

Support computing custom scores and terminating/saving based on them in BaseTrainer (#1202)
  tianshou/data/stats.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
Due: ruff, black, mypy

Dependencies: switched to official rliable release
  poetry.lock
  pyproject.toml
Due: poetry-check

Removed assert on OrderedDict (clashes with gymnasium 1), Changelog
  CHANGELOG.md
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Renamed current RandomPolicy to MARLRandomPolicy
  docs/01_tutorials/04_tictactoe.rst
  test/pettingzoo/tic_tac_toe.py
  tianshou/policy/__init__.py
  tianshou/policy/random.py
Due: ruff, black, mypy

optimize logging `log_msg`
  tianshou/trainer/base.py
Due: ruff, black, mypy

Added RandomActor, RandomActionPolicy and support for it in hl-interfaces
  tianshou/highlevel/agent.py
  tianshou/policy/base.py
  tianshou/utils/net/common.py
Due: ruff, black, mypy

Added RandomActionExperimentBuilder
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Formatting [ci skip]
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Typo
  tianshou/trainer/base.py
Due: ruff, black, mypy

optimize logging `log_msg` in trainer (minor) (#1206)
  tianshou/trainer/base.py
Due: ruff, black, mypy

HL inferfaces: don't create train-test collectors if not training
  tianshou/highlevel/experiment.py
  tianshou/highlevel/world.py
Due: ruff, black, mypy

HL inferfaces: don't create train-test collectors if not training (#1208)
  tianshou/highlevel/experiment.py
  tianshou/highlevel/world.py
Due: ruff, black, mypy

Fix some broken links in the tutorials
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
Due: none

Fix some broken links in the tutorials (#1209)
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
Due: none

RandomActionPolicy: fix unpacking of act, state. Formatting
  docs/01_tutorials/04_tictactoe.rst
  tianshou/policy/base.py
Due: ruff, black, mypy

RandomActionPolicy: fixes for discrete case, added tests
  test/base/test_policy.py
  tianshou/policy/base.py
  tianshou/utils/net/common.py
Due: ruff, black, mypy

Collector: use a larger default buffer size (previous default didn't make sense)
  tianshou/data/collector.py
Due: ruff, black, mypy

Batch: possibility to get len of batches with dist. Added a test
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Test env: aesthetic
  test/base/env.py
Due: ruff, black

Buffer: better names for vars (no functional change)
  tianshou/data/buffer/base.py
  tianshou/data/buffer/cached.py
Due: ruff, black, mypy

Collector: major extension that allows customizing how collection stats are computed
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

nb-clean
  docs/02_notebooks/L6_Trainer.ipynb
Due: none

Docs, copy-paste error [ci skip]
  docs/01_tutorials/04_tictactoe.rst
Due: none

Typos [ci skip]
  tianshou/data/collector.py
Due: ruff, black, mypy

Collector, fixed omission: make use of `raise_on_nan_in_buffer`
  tianshou/data/collector.py
Due: ruff, black, mypy

Block comment [ci skip]
  tianshou/data/collector.py
Due: ruff, black, mypy
