Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Batch: added possibility to change shape to atleast_2d, including distributions
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

CollectStats: better collection for std of actions (not flattening).
  test/base/test_stats.py
  tianshou/data/collector.py
  tianshou/data/stats.py
Due: ruff, black, mypy

Minor fix in tensorboard logger (casting key to str)
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

Spelling
  docs/spelling_wordlist.txt
Due: none

Docs: update link to PettingZoo
  docs/01_tutorials/04_tictactoe.rst
Due: none

Docs: update link to PettingZoo (#1213)
  docs/01_tutorials/04_tictactoe.rst
Due: none

Moved subbuffer-related functionality from Collector to Buffer
  docs/spelling_wordlist.txt
  pyproject.toml
  test/base/test_buffer.py
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
Due: ruff, black, poetry-check, mypy

Fixed off-by-1 indexing error, added one more test
  docs/02_notebooks/L6_Trainer.ipynb
  test/base/test_buffer.py
  tianshou/data/buffer/base.py
Due: ruff, black, mypy

Moved subbuffer-related functionality from Collector to Buffer (#1214)
  docs/02_notebooks/L6_Trainer.ipynb
  docs/spelling_wordlist.txt
  pyproject.toml
  test/base/test_buffer.py
  tianshou/data/buffer/base.py
  tianshou/data/collector.py
Due: ruff, black, poetry-check, mypy

Docstrings, minor [ci skip]
  tianshou/data/collector.py
Due: ruff, black, mypy

Typo [ci skip]
  README.md
  tianshou/data/collector.py
Due: ruff, black, mypy

Typo [ci skip]
  README.md
Due: none

docs: Improve 01_concepts
  docs/01_tutorials/01_concepts.rst
Due: none

Update docs/01_tutorials/01_concepts.rst
  docs/01_tutorials/01_concepts.rst
Due: none

docs: Improve 01_concepts (#1221)
  docs/01_tutorials/01_concepts.rst
Due: none

Update README.md (update EnvFactoryRegistered params)
  README.md
Due: none

Update README.md (update EnvFactoryRegistered params) (#1228)
  README.md
Due: none

docs change
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
Due: none

Update L2_Buffer.ipynb
  docs/02_notebooks/L2_Buffer.ipynb
Due: none

Update L3_Vectorized__Environment.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
Due: none

docs change Issues#1056 (#1229)
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L1_Batch.ipynb
Due: none

Docs Update for diction Issues#1056 (#1230)
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
Due: none

Fix: Cannot convert a MPS Tensor to float64 dtype as the MPS framework doesn't support float64.
  tianshou/data/utils/converter.py
Due: ruff, black, mypy

Update supersuit usage in assert messages
  tianshou/env/pettingzoo_env.py
Due: ruff, black, mypy

Update supersuit usage in assert messages (#1238)
  tianshou/env/pettingzoo_env.py
Due: ruff, black, mypy

fix: reset before collect on watch
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

fix: reset before collect on watch (#1240)
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
Due: ruff, black

Convert tensor to dtype before moving to device instead of after
  tianshou/data/utils/converter.py
Due: ruff, black, mypy

pettingzoo env observation space fix
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

reset from argument
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

pettingzoo example observation_space fix (#1243)
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Add _BuilderMixinActorFactory_DiscreteOnly, applying it in DiscreteSACExperimentBuilder
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix docstring
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Add Windows-specific configuration instructions
  docs/04_contributing/04_contributing.rst
Due: none

Update change log
  CHANGELOG.md
Due: none

Add information on Windows-specific developer configuration
  docs/04_contributing/04_contributing.rst
Due: none

Fix DiscreteSACExperimentBuilder not exposing `with_actor_factory_default` (#1250)
  CHANGELOG.md
  docs/04_contributing/04_contributing.rst
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Refactoring of Trainer handling; Algorithms can now create their trainer
  test/discrete/test_pg.py
  tianshou/policy/base.py
  tianshou/policy/modelfree/pg.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

Disable ruff COM812
  pyproject.toml
Due: poetry-check
