Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Modified ppo_hl example, simplifying the config options and adding multi-experiment option
  examples/mujoco/mujoco_ppo_hl.py
Due: ruff, black

Upgrade sensai-utils to v1.6
  poetry.lock
  pyproject.toml
Due: poetry-check

Apply formatter
  test/pettingzoo/pistonball_continuous.py
  tianshou/env/atari/atari_network.py
  tianshou/utils/net/common.py
  tianshou/utils/net/continuous.py
Due: ruff, black, mypy

High-level API: Add option to specify CollectorFactory in ExperimentBuilder
  CHANGELOG.md
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/collector.py
Due: ruff, black, mypy

Import wandb only locally, fully avoiding the import when it is not used
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Allow newer versions of numpy (to support newer versions of Python), restricting only lower bound
  pyproject.toml
Due: poetry-check

Updated ruff, removed black
  pyproject.toml
Due: poetry-check

Pin exact ruff version
  pyproject.toml
Due: poetry-check

Make assertions compatible with newer versions of numpy
  test/base/test_batch.py
Due: ruff, black

Allow newer versions of gymnasium (0.28 is lower bound)
  pyproject.toml
Due: poetry-check

Upgrade wandb to >= 0.16 because the old version pulled in pathtools which is incompatible with Python 3.13
  poetry.lock
  pyproject.toml
Due: poetry-check

Do not install envpool for py_latest (supported for <= 3.11 only)
  .github/workflows/pytest.yml
Due: none

Only upload coverage for py_pinned
  .github/workflows/pytest.yml
Due: none

Make attribute getting behaviour of DummyEnvWorker compatible with gymnasium v1
  test/base/test_env.py
  tianshou/env/worker/dummy.py
Due: ruff, black, mypy

Update change log with information on version compatibility
  CHANGELOG.md
Due: none

Reinstate ruff check auto-fixing
  pyproject.toml
Due: poetry-check

Ignore additional ruff rules (newly required because of ruff version change)
  pyproject.toml
Due: poetry-check

Remove unused import
  test/base/test_batch.py
Due: ruff, black

Update lock file
  poetry.lock
Due: none

Update wandb usage, remove unused 'type: ignore'
  tianshou/env/gym_wrappers.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Disable coverage for py_latest env
  .github/workflows/pytest.yml
  pyproject.toml
Due: poetry-check

Disable env cache when not using lock file
  .github/workflows/pytest.yml
Due: none

List dependencies in CI
  .github/workflows/pytest.yml
Due: none

Require a higher ray version, because the old version caused infinite hangs in conjunction with, most likely, the grpcio version that was applied in CI
  poetry.lock
  pyproject.toml
Due: poetry-check

Add 'type: ignore' to most ray calls in the worker module
  tianshou/env/worker/ray.py
Due: ruff, black, mypy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Release 2.0.0b2 (pre-release)
  pyproject.toml
  tianshou/__init__.py
Due: ruff, black, poetry-check, mypy

Update developer guide (previously 'Contributing')
  docs/04_contributing/04_contributing.rst
  docs/04_developer_guide/04_developer_guide.md
  docs/05_contributors/05_contributors.rst
Due: none

Simplifying the config options and adding multi-experiment option for all hl examples
  examples/atari/README.md
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/box2d/README.md
  examples/box2d/bipedal_bdq.py
  examples/discrete/discrete_dqn_hl.py
  examples/inverse/README.md
  examples/modelbased/README.md
  examples/mujoco/README.md
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  examples/offline/README.md
  examples/vizdoom/README.md
Due: ruff, black

Improved and extended rliable evaluation module
  tianshou/evaluation/rliable_evaluation.py
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix enum instantiation by name
  tianshou/evaluation/launcher.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Added a script for benchmarking
  benchmark/run_benchmark.py
  pyproject.toml
Due: ruff, black, poetry-check

Set default num_experiments to 1 in hl scripts
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Improve docs filenames
  CONTRIBUTING.md
  docs/04_developer_guide/developer_guide.md
  docs/05_contributors/contributors.rst
Due: none

Mention new release in README
  README.md
Due: none

Use 'latest' documentation for CONTRIBUTING
  CONTRIBUTING.md
Due: none

Remove unnecessary instructions on general GitHub usage
  docs/04_developer_guide/developer_guide.md
  docs/_static/images/action1.jpg
  docs/_static/images/action2.jpg
  docs/_static/images/action3.png
Due: none

Add section on the high-level API to the Developer Guide
  docs/04_developer_guide/developer_guide.md
Due: none
