Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

fix some mypy issues
  test/base/test_collector.py
  tianshou/data/collector.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

adapt types of reset in venv_wrappers to match step
  tianshou/env/venv_wrappers.py
Due: ruff, black, mypy

fixing some more mypy issues
  tianshou/data/collector.py
  tianshou/env/venv_wrappers.py
  tianshou/env/venvs.py
  tianshou/policy/base.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/dqn.py
Due: ruff, black, mypy

Typing: extend index type
  tianshou/data/batch.py
Due: ruff, black, mypy

Typing in tests: added asserts and cast to remove some mypy errors
  test/base/test_batch.py
  test/base/test_collector.py
Due: ruff, black

Revert output type to tuple[InfoStats, BasePolicy]
  test/pettingzoo/pistonball_continuous.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Fixed typing things by casting
  tianshou/data/collector.py
Due: ruff, black, mypy

fix poe issues, allow to collect fewer episodes than env_num
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

factor out get_values_at_indices_if_not_None
  tianshou/data/collector.py
Due: ruff, black, mypy

black
  tianshou/data/collector.py
Due: ruff, black, mypy

adapt notebooks based upon doc-build
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L5_Collector.ipynb
Due: none

fix inconsistent indent in docstring
  tianshou/data/collector.py
Due: ruff, black, mypy

For mypy: Store obs/obs_next in new var and assert type
  test/base/test_collector.py
Due: ruff, black

Typo
  tianshou/policy/modelfree/dqn.py
Due: ruff, black, mypy

update tests to follow new reset interface
  test/base/test_collector.py
Due: ruff, black

For mypy: store intermediate vars & assert type
  test/base/test_buffer.py
Due: ruff, black

Docstring
  tianshou/env/venvs.py
Due: ruff, black, mypy

Minor fixes in FiniteVectorEnv (created in tests)
  test/base/test_env_finite.py
Due: ruff, black

Make slicing function private
  tianshou/data/collector.py
Due: ruff, black, mypy

Added a function reproducing the hacky and wrong behavior of Batch for backwards compat.
  tianshou/data/collector.py
Due: ruff, black, mypy

Minor, comment
  tianshou/data/collector.py
Due: ruff, black, mypy

fix multiagent test
  test/base/test_collector.py
  tianshou/data/buffer/manager.py
Due: ruff, black, mypy

Fixed type in test
  test/base/test_env.py
Due: ruff, black

Fixes in high-level interfaces: reset collectors before collecting
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fixes in test: add explicit reset of collectors
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/pistonball_continuous.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

AsyncCollector: Stricter types and enforcement
  tianshou/data/collector.py
Due: ruff, black, mypy

Use pprint_asdict() instead
  test/pettingzoo/pistonball.py
  test/pettingzoo/pistonball_continuous.py
Due: ruff, black

Check for none
  test/discrete/test_bdq.py
Due: ruff, black

Use pprint_asdict to print CollectStats
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Ignore type as mypy doesn't know that it should be wrong here
  test/base/test_buffer.py
Due: ruff, black

Ignore type annotation for step() because env can generate non-scalar rewards:
  test/base/env.py
Due: ruff, black

Make mypy understand what type weight is
  test/base/test_buffer.py
Due: ruff, black

Make mypy happy and use proper type for adding constant to batch
  test/base/test_batch.py
  test/base/test_collector.py
Due: ruff, black

Use setattr/getattr because mypy doesn't know
  test/base/test_stats.py
Due: ruff, black

Remove unused var
  test/base/test_env.py
Due: ruff, black

Use SpaceInfo to determne types action/obs space
  test/discrete/test_bdq.py
Due: ruff, black

Revert "Use SpaceInfo to determne types action/obs space"
  test/discrete/test_bdq.py
Due: ruff, black

Cover case when state is dict
  test/base/test_collector.py
Due: ruff, black

Set integer default value for batch_size
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_trpo_hl.py
Due: ruff, black

Add typing to env methods and use Gym API >v0.26 (with terminated, truncated)
  examples/vizdoom/env.py
Due: ruff, black
