Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Bumped numba, needed for python 3.12
  poetry.lock
  pyproject.toml
Due: poetry-check

Improved CI triggers, changelog [ci skip]
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  CHANGELOG.md
Due: none

Bumped numba, needed for python 3.12 (#1177)
  .github/workflows/extra_sys.yml
  .github/workflows/gputest.yml
  .github/workflows/lint_and_docs.yml
  .github/workflows/pytest.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: poetry-check

Batch: important new functionality
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Batch: fixed hasnull return
  tianshou/data/batch.py
Due: ruff, black, mypy

Bugfix in atari_il.py example (wrong type check) [ci skip]
  examples/offline/atari_il.py
Due: ruff, black

Improved typing, bugfix in Batch.apply_array_func
  examples/inverse/irl_gail.py
  test/base/test_batch.py
  test/base/test_buffer.py
  test/base/test_collector.py
  test/base/test_env_finite.py
  test/base/test_returns.py
  tianshou/data/batch.py
  tianshou/data/types.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Improved typing in Batch and Protocol, added get and pop explicitly
  test/base/test_batch.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/prio.py
  tianshou/data/types.py
  tianshou/policy/base.py
Due: ruff, black, mypy

Fixed Batch.to_torch (was previously copying the array)
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Spelling
  docs/spelling_wordlist.txt
  tianshou/data/batch.py
Due: ruff, black, mypy

More input validation in Batch.cat_
  tianshou/data/batch.py
Due: ruff, black, mypy

Fixed batch schema comparison in cat_
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Typo [skip ci]
  tianshou/data/batch.py
Due: ruff, black, mypy

Tests: fixed bug in MoveToRightEnv (info dict had wrong structure)
  test/base/env.py
Due: ruff, black

Fix in tensor type handling in bcq and cql learn
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
Due: ruff, black, mypy

Tests: fixed info of MoveToRightEnv
  test/base/env.py
  test/base/test_buffer.py
Due: ruff, black

Improvements in batch (#1181)
  docs/spelling_wordlist.txt
  examples/inverse/irl_gail.py
  test/base/env.py
  test/base/test_batch.py
  test/base/test_buffer.py
  test/base/test_collector.py
  test/base/test_env_finite.py
  test/base/test_returns.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/prio.py
  tianshou/data/types.py
  tianshou/policy/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Changelog [ci skip]
  CHANGELOG.md
Due: none

TrainingStats: fix for zero-len sequences, fixed an optional type
  tianshou/data/stats.py
Due: ruff, black, mypy

Rliable eval: multiple extensions
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Added WandbLoggerFactory, made config_dict optional
  tianshou/highlevel/logger.py
Due: ruff, black, mypy

Logging: made restore_logged_data static. Eval: better use of DataScope
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/highlevel/logger.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Spelling [ci skip]
  docs/spelling_wordlist.txt
Due: none

Fix Batch.__eq__ to work also for scalar values
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Use torch.allclose instead of all()
  test/base/test_batch.py
Due: ruff, black

Update changelog
  CHANGELOG.md
Due: none

Bugfix/batch eq for scalar (#1186)
  CHANGELOG.md
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Minor typing and docstrings [ci skip]
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Highlevel, persistence: more customization for policy persistence
  tianshou/highlevel/agent.py
  tianshou/highlevel/persistence.py
Due: ruff, black, mypy

Highlevel, experiment: permit extraction of World.
  pyproject.toml
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
  tianshou/utils/logger/base.py
Due: ruff, black, poetry-check, mypy

Formatting
  tianshou/data/batch.py
Due: ruff, black, mypy

Docs
  docs/_config.yml
  docs/spelling_wordlist.txt
  pyproject.toml
  tianshou/evaluation/launcher.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/noise.py
  tianshou/highlevel/persistence.py
  tianshou/highlevel/trainer.py
Due: ruff, black, poetry-check, mypy

Highlevel, persistence: fix return of get_save_checkpoint_fn
  tianshou/highlevel/persistence.py
Due: ruff, black, mypy

Experiment: restored backwards compat. for passing experiment_name
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Docs for batch module
  docs/spelling_wordlist.txt
  pyproject.toml
  tianshou/data/batch.py
  tianshou/data/types.py
Due: ruff, black, poetry-check, mypy

[add] highlevel to pkg
  tianshou/__init__.py
Due: ruff, black, mypy

removed unnecessary for loop
  tianshou/evaluation/launcher.py
Due: ruff, black, mypy

added finalize method to logger
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

extended run grouping for wandb logger
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

ExperimentBuilder: Restored run_name logic
  tianshou/highlevel/experiment.py
  tianshou/highlevel/optim.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
