Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Improve change log
  CHANGELOG.md
Due: none

Fix mypy issues
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/determinism_test.py
  test/discrete/test_c51.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/offline/test_cql.py
  tianshou/trainer/base.py
Due: ruff, black, mypy

v1: minor rename
  tianshou/policy/base.py
Due: ruff, black, mypy

v2: WIP, improve offline algo performance
  tianshou/data/buffer/base.py
  tianshou/policy/base.py
  tianshou/policy/imitation/td3_bc.py
Due: ruff, black, mypy

v2: WIP, more renamings of state->rnn_hidden_state
  docs/01_tutorials/00_dqn.rst
  docs/02_notebooks/L4_Policy.ipynb
  test/base/test_collector.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelfree/bdqn.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

v2: remove irrelevant action_bound param in SACPolicy
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

v2: Change parameter clip_loss_grad to huber_loss_delta (allowing to control not only the use of the Huber loss but also its essential parameter)
  CHANGELOG.md
  tianshou/policy/modelfree/dqn.py
Due: ruff, black, mypy

v2: Rename module trainer.base -> trainer.trainer
  examples/atari/atari_c51.py
  examples/discrete/discrete_dqn.py
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdqn.py
  test/discrete/test_c51.py
  test/discrete/test_discrete_sac.py
  test/discrete/test_dqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/offline/gather_pendulum_data.py
  test/offline/test_bcq.py
  tianshou/algorithm/algorithm_base.py
  tianshou/highlevel/algorithm.py
  tianshou/trainer/__init__.py
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

Rename module mapolicy -> marl
  test/pettingzoo/pistonball_continuous.py
  tianshou/algorithm/__init__.py
  tianshou/algorithm/multiagent/marl.py
Due: ruff, black, mypy

Rename module policy_params -> algorithm_params
  README.md
  examples/atari/atari_dqn_hl.py
  examples/atari/atari_iqn_hl.py
  examples/atari/atari_ppo_hl.py
  examples/atari/atari_sac_hl.py
  examples/discrete/discrete_dqn_hl.py
  examples/mujoco/mujoco_a2c_hl.py
  examples/mujoco/mujoco_ddpg_hl.py
  examples/mujoco/mujoco_npg_hl.py
  examples/mujoco/mujoco_ppo_hl.py
  examples/mujoco/mujoco_ppo_hl_multi.py
  examples/mujoco/mujoco_redq_hl.py
  examples/mujoco/mujoco_reinforce_hl.py
  examples/mujoco/mujoco_sac_hl.py
  examples/mujoco/mujoco_td3_hl.py
  examples/mujoco/mujoco_trpo_hl.py
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/experiment.py
  tianshou/highlevel/params/algorithm_params.py
Due: ruff, black, mypy

Rename module logger.base -> logger.logger_base
  tianshou/evaluation/rliable_evaluation_hl.py
  tianshou/utils/__init__.py
  tianshou/utils/logger/logger_base.py
  tianshou/utils/logger/tensorboard.py
  tianshou/utils/logger/wandb.py
Due: ruff, black, mypy

Rename module buffer.base -> buffer.buffer_base
  tianshou/algorithm/algorithm_base.py
  tianshou/algorithm/imitation/cql.py
  tianshou/data/__init__.py
  tianshou/data/buffer/buffer_base.py
  tianshou/data/collector.py
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

Rename module imitation.base -> imitation.imitation_base
  examples/offline/d4rl_il.py
  test/continuous/test_sac_with_il.py
  test/discrete/test_a2c_with_il.py
  tianshou/algorithm/imitation/imitation_base.py
Due: ruff, black, mypy

Rename module env.worker.base -> env.worker.worker_base
  examples/offline/atari_il.py
  tianshou/algorithm/__init__.py
  tianshou/env/worker/__init__.py
  tianshou/env/worker/worker_base.py
Due: ruff, black, mypy

v2: Mention renamed packages and modules in change log
  CHANGELOG.md
Due: none

v2: BDQN: Remove parameter 'n_step_horizon' (formerly 'estimation_step') as the algorithm only computes 1-step returns
  CHANGELOG.md
  tianshou/algorithm/modelfree/bdqn.py
Due: ruff, black, mypy

v2: Rename 'pg' module and associated scripts to 'reinforce'
  examples/atari/atari_ppo.py
  examples/inverse/irl_gail.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_trpo.py
  examples/offline/atari_crr.py
  examples/vizdoom/vizdoom_ppo.py
  test/base/test_policy.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_ppo_discrete.py
  test/discrete/test_reinforce.py
  test/modelbased/test_ppo_icm.py
  test/offline/test_discrete_crr.py
  test/offline/test_gail.py
  test/pettingzoo/pistonball_continuous.py
  tianshou/algorithm/__init__.py
  tianshou/algorithm/imitation/discrete_bcq.py
  tianshou/algorithm/imitation/discrete_cql.py
  tianshou/algorithm/imitation/discrete_crr.py
  tianshou/algorithm/imitation/gail.py
  tianshou/algorithm/modelfree/a2c.py
  tianshou/algorithm/modelfree/bdqn.py
  tianshou/algorithm/modelfree/c51.py
  tianshou/algorithm/modelfree/dqn.py
  tianshou/algorithm/modelfree/fqf.py
  tianshou/algorithm/modelfree/iqn.py
  tianshou/algorithm/modelfree/npg.py
  tianshou/algorithm/modelfree/ppo.py
  tianshou/algorithm/modelfree/qrdqn.py
  tianshou/algorithm/modelfree/reinforce.py
  tianshou/algorithm/modelfree/trpo.py
  tianshou/env/atari/atari_network.py
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/module/actor.py
  tianshou/highlevel/params/dist_fn.py
Due: ruff, black, mypy

v2: Improve docstrings of actors
  tianshou/utils/net/common.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

v2: Fix import
  tianshou/algorithm/modelfree/rainbow.py
Due: ruff, black, mypy

v2: Fix assertion (stats can be None)
  tianshou/trainer/trainer.py
Due: ruff, black, mypy

v2: Update test names for Reinforce
  test/discrete/test_reinforce.py
Due: ruff, black

Minor fix in type and getattr (needs explicit None)
  examples/discrete/discrete_dqn.py
  tianshou/algorithm/modelfree/dqn.py
  tianshou/algorithm/random.py
Due: ruff, black, mypy

Relax determinism tests: * Require only core message equivalence (network parameter hashes) for the test to pass * Allow to ignore certain messages on a per-test level
  test/continuous/test_redq.py
  test/determinism_test.py
  tianshou/utils/determinism.py
Due: ruff, black, mypy

v2: Transfer recent algorithm parameter changes to high-level API
  tianshou/highlevel/algorithm.py
  tianshou/highlevel/params/algorithm_params.py
Due: ruff, black, mypy

v2: Relax discrete_sac determinism test (to account for v1 inheritance flaws)
  test/discrete/test_discrete_sac.py
Due: ruff, black

test_drqn: Collect initial data in training mode
  test/discrete/test_drqn.py
Due: ruff, black

Formatting
  test/continuous/test_redq.py
  tianshou/utils/determinism.py
Due: ruff, black, mypy

Fix assertion (stats can be None)
  tianshou/trainer/base.py
Due: ruff, black, mypy

v2: Establish backward compatibility with persisted v1 buffers
  tianshou/data/buffer/__init__.py
Due: ruff, black, mypy

v1: Removed unused bash script
  examples/mujoco/run_experiments.sh
Due: none
