Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

clean up...
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

mypy stuff
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

spelling word list
  docs/spelling_wordlist.txt
Due: none

fix action space seeding in SubprocVectorEnv
  test/base/test_collector_action_space.py
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

rename test file
  test/base/test_action_space_sampling.py
Due: ruff, black

removed unnecessary + 1
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Extend Batch.to_dict(recurse=False):
  poetry.lock
  pyproject.toml
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, poetry-check, mypy

Use DeepDiff to test for Batch equality
  tianshou/data/batch.py
Due: ruff, black, mypy

Changed .keys() to get_keys() in batch class
  test/base/test_batch.py
  test/base/test_buffer.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

after applying poe.
  test/base/test_buffer.py
  tianshou/data/batch.py
Due: ruff, black, mypy

batch add with warning and simplified
  tianshou/data/batch.py
Due: ruff, black, mypy

Changed .keys() to get_keys() in batch class (#1105)
  test/base/test_batch.py
  test/base/test_buffer.py
  tianshou/data/batch.py
  tianshou/data/buffer/base.py
  tianshou/data/buffer/manager.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Update batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Update README.md
  README.md
Due: none

Fix imports in Readme
  README.md
Due: none

increase max epochs in test_sac_with_il.py
  test/continuous/test_sac_with_il.py
Due: ruff, black

Fix/reset before collect in procedural examples, tests and hl experiment (#1100)
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/atari/atari_sac.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/lunarlander_dqn.py
  examples/mujoco/fetch_her_ddpg.py
  examples/mujoco/mujoco_ddpg.py
  examples/mujoco/mujoco_redq.py
  examples/mujoco/mujoco_sac.py
  examples/mujoco/mujoco_td3.py
  examples/vizdoom/vizdoom_c51.py
  examples/vizdoom/vizdoom_ppo.py
  test/continuous/test_sac_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
  tianshou/data/collector.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Fix type check in atari wrapper, solves #1111
  examples/atari/atari_dqn.py
  examples/atari/atari_wrapper.py
Due: ruff, black

Implement non-inplace to_numpy for Batch
  docs/01_tutorials/03_batch.rst
  docs/02_notebooks/L1_Batch.ipynb
  test/base/test_batch.py
  tianshou/data/batch.py
  tianshou/data/utils/converter.py
Due: ruff, black, mypy

Batch.to_dict should be a rremain by default a recursive conversion
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Change argname from recurse -> recursive
  test/base/test_batch.py
  tianshou/data/batch.py
Due: ruff, black, mypy

Allow two (same/different) Batch objs to be tested for equality #1098
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Allow two (same/different) Batch objs to be tested for equality (#1098)
  CHANGELOG.md
  docs/01_tutorials/03_batch.rst
  docs/02_notebooks/L1_Batch.ipynb
  poetry.lock
  pyproject.toml
  test/base/test_batch.py
  tianshou/data/batch.py
  tianshou/data/utils/converter.py
Due: ruff, black, poetry-check, mypy

Add non in-place version of `Batch.to_torch`:
  docs/01_tutorials/03_batch.rst
  docs/02_notebooks/L1_Batch.ipynb
  test/base/test_batch.py
  tianshou/data/batch.py
  tianshou/data/utils/converter.py
Due: ruff, black, mypy

removed pandas logger
  tianshou/highlevel/logger.py
  tianshou/utils/logger/pandas_logger.py
Due: ruff, black, mypy

fixed rliable dependency and some docs
  examples/mujoco/mujoco_ppo_hl_multi.py
  poetry.lock
  pyproject.toml
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, poetry-check, mypy

updated lock file
  poetry.lock
Due: none

suppressed ImportError on optional dependencies
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

Add non in-place version of `Batch.to_torch` (#1117)
  docs/01_tutorials/03_batch.rst
  docs/02_notebooks/L1_Batch.ipynb
  test/base/test_batch.py
  tianshou/data/batch.py
  tianshou/data/utils/converter.py
Due: ruff, black, mypy

added eval to pytest.yml and removed contextlib suppress
  .github/workflows/pytest.yml
  tianshou/evaluation/launcher.py
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

lint
  tianshou/evaluation/rliable_evaluation_hl.py
Due: ruff, black, mypy

install rliable with https
  poetry.lock
  pyproject.toml
Due: poetry-check

updated lint_and_docs.yml
  .github/workflows/lint_and_docs.yml
Due: none

Fix/deterministic action space sampling in SubprocVectorEnv (#1103)
  test/base/test_action_space_sampling.py
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Test and draft for collector first k episodes and equal across all envs
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

use explicit multiprocessing context for creating Pipe in subproc.py (#1102)
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Renamed and commented `restore_logged_data` in TensorboardLogger [skip-ci]
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy
