Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

added more thorough type check
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

added 'Panchenko' to spelling_wordlist.txt
  docs/spelling_wordlist.txt
Due: none

updated assert
  tianshou/env/worker/subproc.py
Due: ruff, black, mypy

Allow explicit setting of multiprocessing context for SubprocEnvWorker (#1072)
  docs/spelling_wordlist.txt
  examples/mujoco/mujoco_env.py
  tianshou/env/venvs.py
  tianshou/env/worker/subproc.py
  tianshou/highlevel/env.py
Due: ruff, black, mypy

refactor async.collect to replace cur_rollout_batch, pull reset hidden state out
  tianshou/data/collector.py
Due: ruff, black, mypy

add test to collect one episode in asyncCollector
  test/base/test_collector.py
Due: ruff, black

Fix mypy issues
  test/base/test_env_finite.py
Due: ruff, black

Fix some mypy issues
  test/base/test_env.py
  test/discrete/test_a2c_with_il.py
  test/pettingzoo/pistonball.py
Due: ruff, black

Make AsynCollector.collect work
  tianshou/data/collector.py
Due: ruff, black, mypy

Add option to reset_before_collect to AsycColl in n_episode case
  tianshou/data/collector.py
Due: ruff, black, mypy

Rewrite AsyncCollector tests
  test/base/test_collector.py
Due: ruff, black

Fix many mypy issues related to:
  test/base/test_collector.py
Due: ruff, black

Rewrite AsyncCollector to not use self.current_transition_in_all_batches but explicit attributes instead. Broken!
  tianshou/data/collector.py
Due: ruff, black, mypy

remove depreciated test.
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Fix mypy issues:
  test/pettingzoo/pistonball_continuous.py
Due: ruff, black

Fix mypy issues:
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

ignore mypy check
  test/base/test_batch.py
Due: ruff, black

Add missing type annotations
  test/pettingzoo/pistonball.py
Due: ruff, black

Fix some mypy issues:
  test/base/env.py
  test/base/test_env.py
Due: ruff, black

Add missing type annotations to funcs
  test/base/test_env.py
Due: ruff, black

Fix mypy issues
  test/base/test_env.py
Due: ruff, black

Pass correct typed param env_fns to SubprocVectorEnv
  test/base/test_collector.py
  test/base/test_env.py
Due: ruff, black

Fix more mypy issues:
  test/base/test_env.py
Due: ruff, black

Bugfix: Tuple item assignment
  test/base/test_env_finite.py
Due: ruff, black

Refactored pg forward method and dist_fn usage.
  examples/inverse/irl_gail.py
  examples/mujoco/mujoco_a2c.py
  examples/mujoco/mujoco_npg.py
  examples/mujoco/mujoco_ppo.py
  examples/mujoco/mujoco_reinforce.py
  examples/mujoco/mujoco_trpo.py
  test/base/test_policy.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_trpo.py
  test/offline/test_gail.py
  tianshou/policy/modelfree/pg.py
Due: ruff, black, mypy

Refactored forward methods of Policy classes to acommodate for new changes. Also changed docstrings.
  test/pettingzoo/pistonball_continuous.py
  tianshou/policy/base.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/utils/net/continuous.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

linting passed.
  test/base/test_policy.py
  tianshou/policy/imitation/base.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
Due: ruff, black, mypy

Fixing pg dist_fn.
  tianshou/policy/modelfree/pg.py
Due: ruff, black, mypy

Make mypy happy and use [] instea of . notation
  test/base/test_buffer.py
Due: ruff, black

ractor collect of asyncCollector, replace self.data by explicit attributes
  tianshou/data/collector.py
Due: ruff, black, mypy

factor out _compute_action_policy shared across Collector and AsyncCollector
  tianshou/data/collector.py
Due: ruff, black, mypy

formatting with poe
  test/base/test_collector.py
  tianshou/data/collector.py
Due: ruff, black, mypy

Update publish.yaml, missing / [skip ci]
  .github/workflows/publish.yaml
Due: none

Update publish.yaml [skip ci]
  .github/workflows/publish.yaml
Due: none

Update publish.yaml, typo [skip ci[
  .github/workflows/publish.yaml
Due: none

fix some pypy errors
  tianshou/data/collector.py
  tianshou/data/types.py
  tianshou/data/utils/converter.py
  tianshou/env/venv_wrappers.py
  tianshou/policy/base.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Add CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

adapt type annotation of reset to match step in venv
  tianshou/env/venvs.py
Due: ruff, black, mypy
