Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

black:
  name: black
  entry: poetry run black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy tianshou
  pass_filenames: false
  language: system

Deal with .jupyter_cache
  docs/.gitignore
  docs/_config.yml
Due: none

Docs: improve API landing page
  docs/autogen_rst.py
  docs/spelling_wordlist.txt
Due: ruff, black

Formatting
  docs/autogen_rst.py
Due: ruff, black

forgot poe ...
  test/base/test_logger.py
  tianshou/policy/base.py
  tianshou/policy/modelbased/icm.py
  tianshou/policy/modelfree/sac.py
  tianshou/trainer/base.py
  tianshou/trainer/utils.py
  tianshou/utils/logger/base.py
  tianshou/utils/logger/tensorboard.py
Due: ruff, black, mypy

Fix trainer function call in notebooks
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Fix minor update in docu
  docs/01_tutorials/00_dqn.rst
  docs/01_tutorials/01_concepts.rst
  docs/01_tutorials/07_cheatsheet.rst
Due: none

Hide cell output of training function
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Revert notebook python version
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Remove unused metadata
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Fix: SamplingConfig.start_timesteps_random was not used
  tianshou/highlevel/agent.py
Due: ruff, black, mypy

Improve logging
  tianshou/highlevel/agent.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Docs/fix trainer fct notebooks (#1009)
  docs/01_tutorials/00_dqn.rst
  docs/01_tutorials/01_concepts.rst
  docs/01_tutorials/07_cheatsheet.rst
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Update README.md
  README.md
Due: none

Fix an example code in readme (#1011)
  README.md
Due: none

SamplingConfig: Improve/extend docstrings, clearly explaining the parameters
  tianshou/data/buffer/base.py
  tianshou/highlevel/config.py
Due: ruff, black, mypy

SamplingConfig: Change default of repeat_per_collect to 1 (safest option)
  tianshou/highlevel/config.py
Due: ruff, black, mypy

Fix incorrect use of platform-specific path separator
  docs/autogen_rst.py
Due: ruff, black

Environments: Add option to a use a different factory for test envs to `from_factory` convenience construction mechanisms
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Trainer: removed passing of pbar data through multiple methods
  tianshou/data/__init__.py
  tianshou/data/collector.py
  tianshou/data/stats.py
  tianshou/policy/base.py
  tianshou/trainer/base.py
  tianshou/utils/logging.py
Due: ruff, black, mypy

MAPolicy: fixed return stats
  tianshou/policy/multiagent/mapolicy.py
Due: ruff, black, mypy

Stats: wrapper for TrainingStats, used in ICM
  test/base/test_stats.py
  tianshou/policy/base.py
  tianshou/policy/modelbased/icm.py
Due: ruff, black, mypy

Fixed multiple typing issues, added conversion utils
  tianshou/data/stats.py
  tianshou/data/types.py
  tianshou/policy/imitation/base.py
  tianshou/policy/imitation/bcq.py
  tianshou/policy/imitation/cql.py
  tianshou/policy/imitation/discrete_bcq.py
  tianshou/policy/imitation/discrete_cql.py
  tianshou/policy/imitation/discrete_crr.py
  tianshou/policy/imitation/gail.py
  tianshou/policy/imitation/td3_bc.py
  tianshou/policy/modelbased/psrl.py
  tianshou/policy/modelfree/a2c.py
  tianshou/policy/modelfree/bdq.py
  tianshou/policy/modelfree/c51.py
  tianshou/policy/modelfree/ddpg.py
  tianshou/policy/modelfree/discrete_sac.py
  tianshou/policy/modelfree/dqn.py
  tianshou/policy/modelfree/fqf.py
  tianshou/policy/modelfree/iqn.py
  tianshou/policy/modelfree/npg.py
  tianshou/policy/modelfree/pg.py
  tianshou/policy/modelfree/ppo.py
  tianshou/policy/modelfree/qrdqn.py
  tianshou/policy/modelfree/redq.py
  tianshou/policy/modelfree/sac.py
  tianshou/policy/modelfree/td3.py
  tianshou/policy/modelfree/trpo.py
  tianshou/policy/multiagent/mapolicy.py
  tianshou/policy/random.py
  tianshou/trainer/base.py
  tianshou/utils/conversion.py
Due: ruff, black, mypy

Adjusted notebook to new interfaces
  docs/02_notebooks/L0_overview.ipynb
Due: none

Fix ICMTrainingStats
  tianshou/policy/modelbased/icm.py
Due: ruff, black, mypy

Fixed remaining notebooks and spelling
  docs/02_notebooks/L4_Policy.ipynb
  docs/02_notebooks/L5_Collector.ipynb
  docs/02_notebooks/L6_Trainer.ipynb
  docs/02_notebooks/L7_Experiment.ipynb
  docs/spelling_wordlist.txt
  tianshou/policy/__init__.py
  tianshou/policy/modelfree/pg.py
  tianshou/utils/optim.py
Due: ruff, black, mypy

check beforehand if iterable None
  tianshou/utils/string.py
Due: ruff, black, mypy

Revert "check beforehand if iterable None"
  tianshou/utils/string.py
Due: ruff, black, mypy

Add type annotation to func args and return type * test_experiment_builder_discrete_default_params * test_experiment_builder_continuous_default_params
  test/highlevel/test_experiment_builder.py
Due: ruff, black

Make test/highlevel a package by adding __init__
  test/highlevel/__init__.py
Due: ruff, black

Fix type mismatch due to same variable naming
  test/offline/test_bcq.py
Due: ruff, black

Print episode stats iff ep ended during collect
  test/offline/test_bcq.py
Due: ruff, black

Fix no-untyped-def by adding annotation to funcs
  test/offline/test_bcq.py
Due: ruff, black

Fix AttributeError in case spec is None
  test/offline/test_bcq.py
Due: ruff, black

Fix: DiscreteEnvironments.from_factory used incorrect EnvType
  tianshou/highlevel/env.py
Due: ruff, black, mypy

Fix: Missing type annotation of Experiment.watch_num_episodes
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Minor simplification in train_step
  tianshou/trainer/base.py
Due: ruff, black, mypy

Fix: var-annotated. Add type to policy.
  test/offline/test_bcq.py
Due: ruff, black

Minor simplification in train_step (#1019)
  tianshou/trainer/base.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^tianshou(/[^/]*)*/[^/]*\.py$
