Repository thu-ml/tianshou: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        require_serial: true
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: poetry-lock-check
        name: poetry lock check
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy tianshou
        # filenames should not be passed as they would collide with the config in pyproject.toml
        pass_filenames: false
        files: '^tianshou(/[^/]*)*/[^/]*\.py$'
        language: system

Fix return type hint for __init__()
  examples/atari/atari_network.py
  examples/atari/atari_wrapper.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/inverse/irl_gail.py
  examples/mujoco/mujoco_env.py
  examples/vizdoom/env.py
  test/base/env.py
  test/base/test_collector.py
  test/base/test_env.py
  test/base/test_env_finite.py
  test/base/test_stats.py
Due: ruff, black

Cast env.action_space to Box
  test/offline/test_cql.py
Due: ruff, black

Add type hint to def stop_fn(mean_rewards)
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/bipedal_hardcore_sac.py
  examples/box2d/lunarlander_dqn.py
  examples/box2d/mcc_sac.py
  examples/offline/atari_bcq.py
  examples/offline/atari_cql.py
  examples/offline/atari_crr.py
  examples/offline/atari_il.py
  test/continuous/test_ddpg.py
  test/continuous/test_npg.py
  test/continuous/test_ppo.py
  test/continuous/test_redq.py
  test/continuous/test_sac_with_il.py
  test/continuous/test_td3.py
  test/continuous/test_trpo.py
  test/discrete/test_a2c_with_il.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_pg.py
  test/discrete/test_ppo.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/discrete/test_sac.py
  test/modelbased/test_dqn_icm.py
  test/modelbased/test_ppo_icm.py
  test/modelbased/test_psrl.py
  test/offline/gather_cartpole_data.py
  test/offline/gather_pendulum_data.py
  test/offline/test_td3_bc.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/pistonball_continuous.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Add type hint to func save_checkpoint_fn(epoch, env_step, gradient_step)
  examples/atari/atari_dqn.py
  examples/atari/atari_ppo.py
  examples/atari/atari_sac.py
  test/continuous/test_ppo.py
  test/discrete/test_c51.py
  test/discrete/test_rainbow.py
Due: ruff, black

Add type hint to func test_fn(epoch, env_step)
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/lunarlander_dqn.py
  examples/vizdoom/vizdoom_c51.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Add type hint to func train_fn(epoch, env_step)
  examples/atari/atari_c51.py
  examples/atari/atari_dqn.py
  examples/atari/atari_fqf.py
  examples/atari/atari_iqn.py
  examples/atari/atari_qrdqn.py
  examples/atari/atari_rainbow.py
  examples/box2d/acrobot_dualdqn.py
  examples/box2d/bipedal_bdq.py
  examples/box2d/lunarlander_dqn.py
  examples/vizdoom/vizdoom_c51.py
  test/discrete/test_bdq.py
  test/discrete/test_c51.py
  test/discrete/test_dqn.py
  test/discrete/test_drqn.py
  test/discrete/test_fqf.py
  test/discrete/test_iqn.py
  test/discrete/test_qrdqn.py
  test/discrete/test_rainbow.py
  test/modelbased/test_dqn_icm.py
  test/offline/gather_cartpole_data.py
  test/pettingzoo/pistonball.py
  test/pettingzoo/tic_tac_toe.py
Due: ruff, black

Refactor get_spaces_info() to use dataclass
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/utils.py
Due: ruff, black

Minor change: fix type hint
  test/utils.py
Due: ruff, black

Add return type hint to funcs
  examples/offline/d4rl_bcq.py
  examples/offline/d4rl_cql.py
  examples/offline/d4rl_il.py
  examples/offline/d4rl_td3_bc.py
  test/base/test_batch.py
  test/base/test_buffer.py
  test/base/test_collector.py
  test/base/test_env.py
  test/base/test_env_finite.py
  test/base/test_logger.py
  test/base/test_policy.py
  test/base/test_returns.py
  test/base/test_stats.py
  test/base/test_utils.py
Due: ruff, black

Draft for explicit seed mechanism of train seed, specific test seeds
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl_experiment.py
  test/highlevel/test_eval_procedure.py
  tianshou/env/venvs.py
  tianshou/highlevel/experiment.py
  tianshou/hpo_sweepers/__init__.py
Due: ruff, black, mypy

Add type hints
  test/base/env.py
Due: ruff, black

Add type hints
  test/base/test_logger.py
Due: ruff, black

Fix issue incompatible list item
  test/base/test_utils.py
Due: ruff, black

Resolve mypy type errors on L5
  docs/02_notebooks/L0_overview.ipynb
  docs/02_notebooks/L5_Collector.ipynb
Due: none

Add enum instead of literal, fix subset of comments
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl_experiment.py
  test/highlevel/test_eval_procedure.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

Resolve mypy type errors on L7
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Typo in README.md [skip ci]
  README.md
Due: none

Fixed links and added poetry install info in README [skip ci]
  README.md
Due: none

Fix tuple type hint, add seed of env generating a transtition to the buffer
  examples/mujoco/mujoco_env.py
  examples/mujoco/mujoco_ppo_hl_experiment.py
  test/highlevel/test_eval_procedure.py
  tianshou/data/collector.py
  tianshou/highlevel/agent.py
  tianshou/highlevel/env.py
  tianshou/highlevel/experiment.py
Due: ruff, black, mypy

add nbqa to pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix achtion_shape input for discrete envs
  docs/02_notebooks/L0_overview.ipynb
  tianshou/data/collector.py
  tianshou/data/types.py
  tianshou/env/worker/subproc.py
  tianshou/utils/net/common.py
  tianshou/utils/net/discrete.py
Due: ruff, black, mypy

poe format
  pyproject.toml
Due: poetry-check

clear nb outputs
  docs/02_notebooks/L2_Buffer.ipynb
  docs/02_notebooks/L3_Vectorized__Environment.ipynb
Due: none

Resolve mypy type errors on L5
  docs/02_notebooks/L5_Collector.ipynb
Due: none

Resolve mypy type errors on L6
  docs/02_notebooks/L6_Trainer.ipynb
Due: none

Fix nb L7 action_shape
  docs/02_notebooks/L7_Experiment.ipynb
Due: none

Refactor get_spaces_info
  test/offline/test_bcq.py
  test/offline/test_cql.py
  test/utils.py
  tianshou/utils/space_info.py
Due: ruff, black, mypy

load tensorboard logs into python using tbparse
  tianshou/utils/evaluation_protocol_analysis.py
Due: ruff, black, mypy

use Self for type hint
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Make action/obs_dim properties
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Add docstrings
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Update docstrings
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Assume action/obs_space is non-empty
  tianshou/utils/space_info.py
Due: ruff, black, mypy

Fix mypy
  test/offline/gather_pendulum_data.py
Due: ruff, black

Fix mypy issues
  test/offline/gather_cartpole_data.py
Due: ruff, black

Fix mypy issues
  test/modelbased/test_ppo_icm.py
Due: ruff, black
